[2016-08-17 04:41] joshuawilson opened #2 "As a user I want to see work items in a list view"
Using the Angular 2 structure for components we need a list view that matches the one in PatternFly. We should be able to take the HTML and CSS from the PF example to create a component.

Reference the designs at https://redhat.invisionapp.com/share/HF86WI2GY#/screens

[2016-08-17 04:48] joshuawilson opened #3 "As a user I want to be able to create a new work item."
Using the Angular 2 structure for components create a form that allows users to create a work item.

This design is the display form and is the closest design we have for the empty create form. Until we get a new design we can use it as a template. https://redhat.invisionapp.com/share/HF86WI2GY#/screens/181584065

[2016-08-17 04:52] joshuawilson opened #4 "As a user I want to be able to view the details of a work item."
Using the Angular 2 structure for components create a form that allows users to see a work item.

This design of the detailed display form https://redhat.invisionapp.com/share/HF86WI2GY#/screens/181584065

[2016-08-17 04:54] joshuawilson opened #5 "As a user I want to be able to update / edit a work item."
Using the Angular 2 structure for components create a form that allows users to update or edit a work item.

This design is the display form and is the closest design we have for the editable form. Until we get a new design we can use it as a template. https://redhat.invisionapp.com/share/HF86WI2GY#/screens/181584065

[2016-08-17 04:58] joshuawilson opened #6 "As a user I want to be able to use a predefined work item type."
The work items have types and those types define what they will look like and what data they display.

Initially they should have:
  - UserStory
  - Task
  - Bug

[2016-08-17 05:02] joshuawilson opened #7 "As a user I want to be able to transition a work item from open to done."
There are an unspecified number of states or stages between open and done. At a minimum the work item should show the state it is in and that state should be able to be changed from open to done.

See the design here of the state on the left side https://redhat.invisionapp.com/share/HF86WI2GY#/screens/181584053

[2016-08-17 05:04] joshuawilson opened #8 "As a user I should be able to login into the application."
The login page should be a component version of the PatternFly style. We should be able to use the HTML and CSS in the PatternFly example.

[2016-08-17 11:53] tsmaeder commented on #6
Can you give us the list of fields you need right now to build your UI?

[2016-08-17 14:16] tsmaeder commented on #8
With Nimisha...

[2016-08-18 12:06] kwk opened #10 "Use Observables instead of Promises to fetch cards"
Hi,

I was trying to connect to the UI to the core using the core's REST API endpoint. That is when I stumpled over the `CardService.getCards()` method which returns a `Promise<Card[]>`. There seem to be quite some disadvantages when using a `Promise` compare to an `Observable`.

Consider these points (taken from [here](http://blog.thoughtram.io/angular/2016/01/06/taking-advantage-of-observables-i

[2016-08-20 02:40] joshuawilson commented on #6
The fields are listed at the beginning of https://github.com/almighty/almighty-core/issues/99

[2016-08-20 02:46] joshuawilson commented on #10
@kwk
Observables work great for something like Search but not for a single Get call. Maybe if we are trying to keep the list up to date then we can use Observables. It is also worth noting that we are using the Promise wrapper around Observables. We are not using a true Promise here.

All that being said, I do want to use Observables as much as possible.  I will look into this more over the next s

[2016-08-22 03:04] joshuawilson opened #11 "Update the README"
The README is very basic and could use some Markdown niceness.

[2016-08-22 06:37] kwk commented on #11
@joshuawilson if we want to stay consistent we should have a `README.adoc` instead of `README.md` just like in the core and in the devdoc project.

[2016-08-22 19:31] joshuawilson commented on #11
@kwk I'm fine with adoc. If no one updates, I will eventually. Just thought I should post the issue if someone is looking for something simple to do.

[2016-08-24 13:32] mindreeper2420 commented on #11
Why wouldn't this stay as a markdown file, other than just because the other almighty items use ascii? This is one of the few projects I've ever seen use ascii over markdown for README files.

[2016-08-24 14:39] aslakknutsen commented on #11
@mindreeper2420 'Just because the rest of the Team use it' sounds like a fairly compelling reason to me.. :)

[2016-08-24 17:32] mindreeper2420 commented on #11
If this is going to contributed upstream to PatternFly at some point (and why else would this project use the PatternFly styles, etc.), the files should follow that format, IMO. Things shouldn't be changed 'just because', but should be thought of in the greater context of where everything will eventually end up. Its the same process for selecting tech stacks and patterns.

[2016-08-25 06:29] aslakknutsen commented on #11
@mindreeper2420

?

Why would the complete almighty-ui be contributed to PatternFly? Can we not use PatternFly without contributing the whole thing to PatternFly? Is not the whole point of PatternFly to provide UX Patterns/Components that can be reused by other projects?

The almighty-ui is the UI for the almighty project. almighty is using asciidoc for docs as well as "planning" support for it in

[2016-08-25 07:17] bartoszmajsak commented on #11
Well, pro-git book for example was completely rewritten from MD to asciidoc because it's just ... better for code-oriented content.

[2016-08-25 13:33] joshuawilson commented on #11
Whatever we want to contribute to PatternFly will need to have it's own project and therefor the work in ALMighty-UI has no effect on PatternFly.

[2016-08-25 14:34] kwk opened #16 "Keyboard shortcuts in UI"
To get an idea of what I mean, press `?` outside of a text editor on github:

![screenshot from 2016-08-25 16-32-57](https://cloud.githubusercontent.com/assets/193408/17973191/bde581c4-6ae1-11e6-8469-7920dd5f2e00.png)

[2016-08-25 19:23] bartoszmajsak commented on #16
Or gmail or twitter or confluence.

Big +1 @kwk

[2016-08-26 02:21] joshuawilson commented on #16
now that will take some thought or a library ;)

[2016-08-26 13:22] ldimaggi opened #19 "Implement unique id values for UI elements, to facilitate easier UI test automation"
In building a (very) basic POC UI automation test (see: almighty/almighty-ui#17) I noticed that the UI elements are not defined with unique IDs. as a result, the POC test relies on brittle xPath data to locate UI elements. For example:

public SelenideElement saveButton() {
return $(byXpath("//my-app/work-item-list/div/div/work-item-detail/div/button[2]"));
}

Having unique IDs for elements would

[2016-08-27 11:45] bartoszmajsak commented on #16
I don't think it requires that much of work to be honest, let it be with or w/o the library. If this will show up as a requirement at some point I would be very happy to take this task :)

[2016-08-27 12:36] aslakknutsen commented on #16
The work is in defining a consistent set of shortcuts.. ☺

On Sat, Aug 27, 2016, 13:46 Bartosz Majsak <notifications@github.com> wrote:

[2016-09-01 23:27] mindreeper2420 opened #24 "Mobile (Phone) First - List View"
As a user, I want to be able to view the items in my list on my mobile (phone type TBD) device, so that I can see all the issues that exist, for the MVP, while away from my laptop. This view will need to progressively scale up to a tablet and then desktop device (separate stories to follow).

Reference:

https://redhat.invisionapp.com/share/KY8LXF5QV

InVision Prototype:
* ~~https://redhat.invisio

[2016-09-01 23:33] mindreeper2420 opened #25 "Mobile (Phone) First - Add A New Work Item"
As a user, I want to be able to add a new item (quickly) to the list view, so that I can quickly add, one or more work items to the list, while not on my laptop. This needs to follow the mockups in the InVision prototype linked below, as well as the PDD (finalization to come).

* Initial InVision Prototype:
https://redhat.invisionapp.com/share/K28FKIFTE#/184725156_AddAWorkItem-1-iPhone_5-

Once th

[2016-09-02 04:23] nimishamukherjee commented on #2
Issue has been resolved. PR has been merged. Hence closing the issue.

[2016-09-02 04:23] #2 closed

[2016-09-02 04:25] nimishamukherjee commented on #3
Issue has been resolved. PR has been merged. Hence closing the issue.

[2016-09-02 04:25] #3 closed

[2016-09-02 04:27] nimishamukherjee commented on #4
Issue has been resolved. PR has been merged. Hence closing the issue.

[2016-09-02 04:28] #4 closed

[2016-09-02 04:31] nimishamukherjee commented on #5
Issue has been resolved. PRs - #22 and #28 have been merged. Hence closing the issue.

[2016-09-02 04:31] #5 closed

[2016-09-02 04:42] SMahil opened #29 "Converting CSS to SASS"

[2016-09-02 06:07] SMahil commented on #24
@mindreeper2420 Please provide the access for invisionapp designs

[2016-09-02 11:12] kwk opened #30 "Rendering problems on mobile devices (iPad, Nexus 5, and iPhone5)"
I noticed some odd renderings on mobile devices:

Sometimes the list view items overlap each other, sometimes space is wasted and sometimes the quick add form items are stacked vertically instead of horizontally.

I now, that we're in an early stage but I just wanted to guys let you know this.

# iPad

## Portrait

![screenshot from 2016-09-02 13-04-08](https://cloud.githubusercontent.com/assets/1

[2016-09-02 13:43] maxandersen opened #34 "Use of nodejs 6 when rhel/centos only have nodejs4"
how do we handle that nodejs is not available on rhel in the version we use ?

This issue is just to track what we know about the situation - not to say we have use nodejs4, we got options.

@kbsingh did you have some context/info on what exactly is available ?

@joshuawilson is nodejs 6 a hard requirement ?

[2016-09-02 13:45] kbsingh commented on #34
For now, in the immediate term lets carry our own nodejs6. We just need to make sure we test the integration points with the other services on our own.

[2016-09-02 13:47] mindreeper2420 commented on #34
The NodeJS versioning might be an issue in situations other than RHEL, due to the LTS nature of NodeJS 4. I’ve been in situations before where only the LTS versions are allowed on systems. Just an FYI :-)

-Adam

[2016-09-02 13:48] kbsingh opened #35 "Write tests"
We should test the code, ideally via unit tests at build time, and some integration tests to validate the api version matching /expected in the build, and finally deployment acceptance tests.

[2016-09-02 13:50] mindreeper2420 commented on #30
Hey Konrad,

Thanks for the screen grabs!

The screens, as developed at the time, were not designed for mobile devices, which is why they are a mess on them. The progression from now on is to design for mobile first (portrait and landscape), and then scale up to desktops in a progressive fashion. That will eliminate the issues within the screens that you captured.

I recently added two items to th

[2016-09-02 14:07] mindreeper2420 commented on #24
@SMahil the link has been updated, but the design is not finalized.

[2016-09-02 14:18] maxandersen commented on #34
this is for now just for building, not for running.

[2016-09-02 17:59] kwk opened #40 "Parameterise base URL for UI"
In PR #39 I quickly changed the defaults for some URLs and we might need to change this or fix the environment variable usage which was introduced by @nimishamukherjee . That doesn't seem to work.

[2016-09-02 23:00] aslakknutsen commented on #40
[code]

Not sure why the AngularClass tutorial on ENV variables has this syntax. As far as I know this is not a magic if/else statement. What happen here is that process.env.API_URL is set to 'http://localhost:8080/api/' then API_URL is set to process.env.API_URL which is 'http://localhost:8080/api/'.

[code]

[code]

Passing in the Env variable works just fine if we don't overwrite the value :)

[2016-09-03 08:29] baijum opened #43 "URL is part of UX"
There is no consistency in the URL design in the router. These are the URL end points in the code: `login`, `work-item-list`, `board`, `quick-add/:id`, `detail/:id`

For some inspiration of URL design, look at Github issue tracker where this issue is reported.

[2016-09-03 08:57] baijum opened #44 "Separate sub-domain for static content serving"
@kbsingh @kwk At some point of time we need to use separate sub-domain for static content serving except `index.html` and probably `favicon.ico`, `robots.txt` & `humans.txt`?.

Few reasons:
http://webmasters.stackexchange.com/questions/24955/why-insert-static-files-css-images-javascript-ecc-in-a-subdomain

[2016-09-03 09:09] baijum opened #45 "Support for HTML5 (History API) pushState in the backend"
For now I have send a pull request (#41) to disable history API and use hash based routing.

But for a better URL navigation, we need to support History API.

Ref: https://developer.mozilla.org/en-US/docs/Web/API/History_API#The_pushState()_method

The `index.html` should be the default target for all request in the web app.  We need a custom Nginx configuration to support this.

Ref. http://stack

[2016-09-03 09:10] baijum commented on #45
cc. @kbsingh @kwk

[2016-09-03 12:06] kbsingh opened #47 "FTBS for prod"
the present codebase does not build for prod deployments.
$ git clone https://github.com/almighty/almighty-ui
$ export API_URL="http://demo.api.almighty.io/api/"
$ export PUBLIC_PATH="http://demo.almighty.io/"
$ npm install
$ npm run build:prod
is expected to produce a working app, however fails with :

npm ERR! Linux 3.10.0-327.18.2.el7.x86_64
npm ERR! argv "/usr/local/node/node-v6.3.1-linux-x64/

[2016-09-03 12:07] kbsingh commented on #47
merging in https://github.com/almighty/almighty-ui/pull/41 has no impact, we still FTBS

[2016-09-03 12:10] kbsingh opened #48 "Unfiy the developer and production configs"
There should'nt be a seperate config set for development v/s production configs and machine setup - most of the content needed in developer only stages should be abstracted out into either a run time config or collected from defaults at build time.

site specific content should be stripped out in a way that the CI infra, the pre-prod infra, the prod infra and the developer environ can influence th

[2016-09-03 12:13] kbsingh opened #49 "registry access for priv and pub registry should not be tied to user specific accounts"
at the moment, the docker hub push request is based on individual user accounts, as a best practise - this should be removed and a role specific to the project should be setup so credentials can be shared and used as a part of automation in the deployment and test pipeline.

[2016-09-03 12:19] kbsingh opened #50 "Deployment acceptance criteria should be testable"
We need a base set of acceptance tests to run against the app for use in the build, release process.

These tests would run after the app is built and pushed into the relevant pod, as a way to verify that the app is now promoteable to productoin loads.

[2016-09-03 12:22] kbsingh opened #51 "Rebase the container build recipie to use nginx"
We need to rebase the container build recipe to use https://hub.docker.com/r/centos/nginx-16-centos7/ in order to deploy the prod workload.

[2016-09-03 12:28] kbsingh opened #52 "introduce a retry mechanism in code to not need to wait for api service to be up"
the code should be resiliant to api migrations, and be able to handle api unavilability gracefully for short periods, rather than need bin/wait-for-it.sh like scripts at powerup.

[2016-09-03 16:41] baijum commented on #47
@kbsingh After mergin #41 , a web server like nginx would be fine to serve the content. I have updated Dockerfile to support this in #42

[2016-09-04 23:05] #47 closed

[2016-09-04 23:05] #49 closed

[2016-09-04 23:05] #51 closed

[2016-09-05 00:23] aslakknutsen opened #59 "When built in prod version some css gets messed up"
![screenshot from 2016-09-05 02-22-39](https://cloud.githubusercontent.com/assets/132158/18234773/b5fd0622-730f-11e6-993d-0bf57f8f5378.png)

See current deployed v on http://demo.almighty.io/#/work-item-list

[2016-09-05 07:26] sanbornsen commented on #59
Following PR has the fix of this issue. https://github.com/almighty/almighty-ui/pull/46

[2016-09-06 00:19] #59 closed

[2016-09-06 00:24] aslakknutsen opened #61 "In a certain size > mid? I can scroll horizontally on the ListView"
![screenshot from 2016-09-06 02-21-54](https://cloud.githubusercontent.com/assets/132158/18258614/0a0a20e6-73d9-11e6-881a-ea53b662f2cc.png)

[2016-09-06 06:04] sanbornsen commented on #61
This issue is resolved at PR - https://github.com/almighty/almighty-ui/pull/62
I'd like some CSS expert to review it, because i am not very sure if this is the correct way to do things.

[2016-09-06 09:41] sanbornsen commented on #7
Issue has been resolved. PR (https://github.com/almighty/almighty-ui/pull/60) has been merged. Hence closing the issue.

[2016-09-06 09:41] #7 closed

[2016-09-06 11:01] aslakknutsen commented on #7
Technically UI nor Backend has an understanding of "Transition" at this point, it's currently just a String with an  'allowed' values Enum. To really fulfill this, UI needs to understand the WorkitemType and the Flow that it represent, and the WorkItemType has to be able to describe that Flow :)

e.g. in a Full v only someone from the QE Team is allowed to Transition the state from Resolved to QE

[2016-09-06 11:52] sanbornsen commented on #7
I thought, this much is what we had to do for Alpina release, so closed it assuming it's done for now.
This is something what I thought as a future scope -
* There should be an endpoint to fetch the app settings which will be called right before the app starts.
* This settings will have various data including **state_types** which will have different types i.e. New, Done, In Progress etc. along wi

[2016-09-06 14:01] kwk opened #66 "Link to create issue on every webpage"
What do you think about having a link in the UI that you can click at any time to create a github issue with pre-filled fields?

For instance, this link creates an issue pre-filled with some values like commit id, page URL.

https://github.com/almighty/almighty-ui/issues/new?title=%3CFILL_IN_PAGE_TITLE%3E&body=%23+Details%0A%20*%20Commit%20ID:%20COMMIT_ID%0A%20*%20URL%20ID:%20URL

Renders as:

# D

[2016-09-06 14:30] kwk commented on #66
This link might help in building a proper URL with markdown in the body: http://www.w3schools.com/tags/ref_urlencode.asp

[2016-09-06 14:32] joshuawilson commented on #66
@kwk is this a link in the actual UI for ALMighty or in the README?

@aslakknutsen have you seen other projects do this sort of thing?

[2016-09-06 15:14] aslakknutsen commented on #66
@joshuawilson Yeah, it's essentially a 'Report an Issue' feature that can capture some context. Would be nice if we could have screenshots etc as well, but..

If not in production, it makes sense for a dev/stage build

[2016-09-06 18:49] joshuawilson commented on #6
This appears to be covered by the current UI implementations.

[2016-09-06 18:49] #6 closed

[2016-09-06 18:51] joshuawilson commented on #8
@aslakknutsen can you please update this issue when the backend supports the Login?

[2016-09-06 18:52] #11 closed

[2016-09-06 18:55] joshuawilson commented on #29
@SMahil what is the status of this?

[2016-09-06 18:59] joshuawilson commented on #34
I will take some time to try and see if it will build on the version supported in RHEL. @kbsingh can you please confirm the exact version supported?

[2016-09-06 19:01] joshuawilson commented on #35
While @nimishamukherjee has started this and is setting up the framework, we all need to write tests for our own code.

[2016-09-07 01:26] joshuawilson commented on #48
@kbsingh The short answer is that most of the things in development are needed to debug and and work with the code. The prod step strips all that off and minifies and performs other clean up.

I'll go through all the build steps in the UI and list them if you need. We can then evaluate if we need to do something different. A lot of things were done without much planning in order to get the release

[2016-09-07 01:28] joshuawilson commented on #50
We have @ldimaggi putting some of this together with @bartoszmajsak and we have @nimishamukherjee setting up a test framework too.

When any of you make progress here, please post a note about the PR.

[2016-09-07 01:29] joshuawilson commented on #52
@kbsingh where are you seeing this? Can you provide an example please?

[2016-09-07 01:30] joshuawilson commented on #61
@aslakknutsen I think this is a simple mistake with CSS. I expect that once we get the new designs it will get resolved.

[2016-09-07 01:31] joshuawilson commented on #66
I like the idea.

[2016-09-07 01:38] mindreeper2420 commented on #66
Is this in the ALMighty UI or Github repo? I like the idea for in the ALMighty UI and would be up for creating mockups and flows for this.

[2016-09-07 03:29] ldimaggi commented on #50
+1 - We'll start defining a set of tests - this is a good side topic for the Sept 12-16 meeting too.

[2016-09-07 11:13] aslakknutsen commented on #66
@mindreeper2420 almighty ui

[2016-09-07 11:26] aslakknutsen commented on #52
I guess it's in general, As soon as the 'client' is served to the user, the client can no longer assume it has a reliable connection to the API.. And it's not really served by the API itself, as it's served by its own front end containers, so the client can never assume'it will have a connection to the API.

Just means that when an Error occurs calling the backend, that needs to be handled in the

[2016-09-07 13:02] joshuawilson commented on #24
The designs are the target for Sprint #120

[2016-09-07 13:03] joshuawilson commented on #25
The designs are the target for Sprint #120

[2016-09-07 13:25] joshuawilson opened #69 "Create a link between WorkItems"
We need some way to visually link in a parent / child way workitems.

Experience 1603E131
A user with appropriate privileges obtains a definition file (for example via a web interface or a command line), edits the definition file which describes a work item link type between two work item types, and,  associates it with the project (for example by uploading it via a web browser or using the comman

[2016-09-07 13:36] michaelkleinhenz opened #70 "The workitem list view should comply to the UX specifications"
The current implementation should be reworked to match the UX designs, including introducing the responsive base configuration.

[2016-09-07 13:37] michaelkleinhenz opened #71 "Frame, Header and Footer should match UX designs"
The frame should match the UX designs, including basic wireframing and responsive configuration.

[2016-09-07 13:38] mindreeper2420 commented on #24
![screen shot 2016-09-07 at 9 36 04 am](https://cloud.githubusercontent.com/assets/4032718/18313905/d507e458-74de-11e6-868f-7394f9f4e600.png)

[2016-09-07 13:41] #70 closed

[2016-09-07 13:51] kwk commented on #66
One could also include the request and the response from UI to core for technical analysis (if there's any).

[2016-09-07 13:53] maxandersen opened #72 "Show global or local errors in web UI"
Example of current known global errors:
- backend is not reachable

Example of local errors:
- required field not filled out
- validation errors

[2016-09-07 14:36] michaelkleinhenz commented on #40
I think this is done...? See https://github.com/almighty/almighty-ui/pull/65 and the prior work. I might change the environment variable name to something more meaningful, but it works.

[2016-09-07 14:51] joshuawilson opened #73 "Determine Responsive breakpoints"
We need a list of what the screen size break points are that we are going to use in styles.  Please list it here.

[2016-09-07 15:08] michaelkleinhenz opened #74 "Seamless integration of Patternfly/js Components in UI"
We have to find a way to use the Patternfly/Bootstrap JS code in UI. Many widgets we plan to use are utilizing this code (ex. also "basic stuff" like opening/closing dropdowns). At the same time, we have to make sure the code works nicely with Angular 2 and our implementation of it.

[2016-09-07 20:08] michaelkleinhenz commented on #74
Req: the Patternfly code should be incuded as a dependency wherever possible. Do not add Patternfly files directly to the commit unless there is no other way (there should!).

[2016-09-07 20:10] michaelkleinhenz commented on #69
Shouldn't that be "..create *and display*.."?

[2016-09-07 20:18] michaelkleinhenz commented on #66
I think we need that also for automatic issue creating by other systems, like BAMs or similar reactive stuff. There should be an "webhooks API" for creating all sorts of issues and links. Example usecase: a customer ticket system detects a technical problem. It should be able to create a ticket AND link the new ticket to his own ticket(s). Usually the integration in those systems will be "no code

[2016-09-08 04:34] nimishamukherjee commented on #74
@michaelkleinhenz Patternfly has a npm package for the css version. We successfully included it in vendor.ts file and the styling worked.
Now we are using the SCSS version. Currently Patternfly does not have a npm package for the scss version and that is why we are referencing the files.
So we need to create a Patternfly SCSS npm package or wait for Patternfly :)

[2016-09-08 08:32] sanbornsen commented on #72
Hey guys, leave it to me. I am writing some code to centralize all the API requests. Handling error comes under that. So I'll take care of that along with form validations.

[2016-09-08 11:59] sanbornsen commented on #10
I think we can close this issue.

[2016-09-08 15:16] Mgranfie commented on #69
@joshuawilson @maxandersen @aslakknutsen @michaelvirgil  @mindreeper2420 We need to decide which one of these scenarios has priority, so that we can focus and design on one of these during our next sprint. Which of the following would you rate as priority and why?

*Network
*Directed Network
*Dependency

Which are next in the priority order?

[2016-09-08 19:44] #29 closed

[2016-09-08 20:37] joshuawilson commented on #72
@sanbornsen please do not put in any work on this. This is strictly a UX task for this sprint.

[2016-09-08 20:41] joshuawilson commented on #10
Agreed

[2016-09-08 20:41] #10 closed

[2016-09-09 01:47] Mgranfie commented on #72
Quick ?... are the errors all being stored in one resource file? This can
be an easy way to track and edit them easily... anyone have any know on
this?

Thanks,
Monica

On Thu, Sep 8, 2016 at 4:37 PM, Joshua Wilson <notifications@github.com>
wrote:

[2016-09-09 06:09] sanbornsen commented on #72
@joshuawilson aye aye

[2016-09-12 05:31] michaelkleinhenz commented on #74
Mmmh. Topic for this week: both Bootstrap and Patternfly use less by default and the npm packages include the less sources. Let's discuss this week how to deal with this.

[2016-09-12 06:28] michaelkleinhenz commented on #72
@Mgranfie you mean the text of the errors? That's possibly a more global thing, because we might do this for all text in the application and in connection to i18n. But this is an ongoing discussion right now. On tech as well as product level.
So, short answer: we don't know yet. But assume yes for now.

[2016-09-12 15:53] michaelkleinhenz commented on #69
At this time, I would just go for Network only. Multiple parents, multiple childs, not directed, with a label as the relation definition. Something like "these are the parents with that relation label each" and "these are the childs with that relation label each". There are some caveats, like the label mapping. We'll discuss this this week hopefully.

[2016-09-12 15:55] michaelkleinhenz commented on #69
Directed or not makes imho no difference for the ux at this time. Should be only a thing with the normalizing of the graph data.

[2016-09-12 16:00] michaelkleinhenz commented on #24
@mindreeper2420 is the ux task done with the mockup?

[2016-09-12 16:01] michaelkleinhenz commented on #8
I think this is a story and should be split up into tasks. I can't see what's the progress here.

[2016-09-12 16:28] Mgranfie commented on #69
The decision on what we support directly impacts the UI and what and how we surface this information. Once decided on which relationships to support to start, we can explore how to surface them to the use in the interface. @maxandersen has mentioned starting with what sounded like singular directional links, which may support what you are suggesting?

[2016-09-12 16:52] nimishamukherjee commented on #69
We can start with the most common use case from an Agile perspective.
**1. Parent-child link between work items**
- A Feature (parent) can have multiple User Stories (children). We have work items Feature and User Story (http://demo.almighty.io/#/work-item-list)
- A User Story (parent) can have multiple sub stories/tasks (children). We do NOT have work item task type currently.

**2. Association**

[2016-09-12 17:02] mindreeper2420 commented on #24
@michaelkleinhenz not at this time. The current sprint ends on Sept 13, so it should be marked as closed by then. I'll update this once the item has been closed on the UX side. This is the same for issue #25

[2016-09-12 18:14] Mgranfie commented on #69
@maxandersen  Please confirm that we are only showing links as a list of items, at this time in the UI. UI to support the graphs as mentioned above, have not prioritized or vetted for requirements just yet.

[2016-09-12 19:06] ldimaggi commented on #69
+1

A many-to-many relationship. We will also want to see this type of
relationship when we start tracing requirements. It's a frequent case that
you want to trace requirements to tests in a many-to-many relationship.

-- Len

On Mon, Sep 12, 2016 at 12:53 PM, Nimisha <notifications@github.com> wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  US

[2016-09-12 19:12] maxandersen commented on #69
@ldimaggi many-to-many is what a simple *association* will allow.

And I agree with @nimishamukherjee that parent/child and  association will cover most usecases. Doing assoications first at UI level in lets say next sprint sounds fine to me, and then in future sprints we can look at how hiearchies (parent/child) will be handled.

Would that work for you @Mgranfie  ?

[2016-09-13 06:14] michaelkleinhenz commented on #74
Result of discussion: we will start a port of Patternfly for Angular 2. We'll ask the Patternfly team (they are meeting next week) if they have a repository that we can contribute to. Otherwise, we're starting our own repo underneath almighty. Timeframe: End of Sprint.

[2016-09-13 06:22] #73 closed

[2016-09-13 10:25] Mgranfie commented on #69
@maxandersen @nimishamukherjee yes this sounds like a good starting point, as far as keeping the relationships simple and just parent/child.

Doing associations first at UI level in lets say next sprint sounds fine to me, and then in future sprints we can look at how hierarchies (parent/child) will be handled.

Translates to requirements as:
* First deliverable for ( ? date) will be the back end s

[2016-09-13 10:29] michaelkleinhenz commented on #52
@kbsingh Can we differentiate between errors of the core and the error "core not available entirely"? Because in the first case, we could just kick on an error message "Sorry, request <whatever> failed". If the core is not available in general, we could "halt" the UI by displaying a "hold the line" error blocking on top of everything, preventing the user to do further actions (that would all fail,

[2016-09-13 10:30] sanbornsen commented on #52
https://docs.google.com/a/redhat.com/drawings/d/1YfucNN8CMGsp0DaFQGEeqXgnLQDv7OFzrnfpeFg0hQ4/edit?usp=sharing

[2016-09-13 16:34] michaelvirgil commented on #69
+1 @nimishamukherjee

-1 There are too many open questions with associations (many-2-many).

+1 Hierarchical, parent/child (initiative, Epic, story) relationships are well structured, common approach in agile planning and well understood. Simplest use case, easy to extend.

Anyone managing or working through a backlog understands the relationships and it provides context for the team. Parent/child

[2016-09-14 11:15] baijum commented on #43
This is added into UX https://github.com/almighty/almighty-ux/issues/6 but keeping this open for implementation.

[2016-09-15 05:23] michaelkleinhenz opened #83 "Add i18n support"
Tod said at the Bangalore meeting, that the UI should have i18n support in place, even if we only support one language (English) for the forseeable time. We need to evaluate i18n solutions, choose one and integrate it in our project.

[2016-09-15 05:24] michaelkleinhenz opened #84 "Externalize static strings"
When #83 is completed, we need to externalize all existing static strings to the i18n lang file(s).

[2016-09-15 08:25] michaelkleinhenz commented on #71
See https://github.com/almighty/almighty-ux/issues/1 for breakpoint info.

[2016-09-15 11:15] michaelkleinhenz commented on #83
Note: this is not currently in the PDD, but a direct statement from Todd.

[2016-09-15 14:21] joshuawilson opened #85 "Update to Angular 2.0.0"

[2016-09-17 10:29] sanbornsen opened #86 "Rename all the selectors in components as the class name."
* Two component class having same selector would throw an error. To be on safe side, we should always name the selectors as the class name, that way the chances of such conflict will be minimized.
* Also instead of using **declarations** at **app.module.ts** we can use **directives** in main components to include sub components. That will also help us to minimize the chances of conflict.

The erro

[2016-09-17 12:13] joshuawilson commented on #86
I believe Angular suggests namespacing all of them. I hadn't done that since we have yet to decide on a name. You are right it could be an issue.  I plan on fixing this when I refactor the UI into multiple repos / modules.

[2016-09-18 16:46] mindreeper2420 commented on #24
@joshuawilson The initial design phase is complete and can be found under almighty/almighty-ux#5

[2016-09-18 16:47] mindreeper2420 commented on #25
@joshuawilson This item has been completed for design and can be found under almighty/almighty-ux#4

[2016-09-19 05:51] sanbornsen commented on #85
I suggest to do this after we merge all of our pending PRs that has to be merged. So that we can see where are all the places, the update is causing problem.

[2016-09-19 09:48] naina-verma opened #87 ""Description" should have word wrap limit on main page"
Steps to Create -
1. Add long description
2. UI shows up all description on main page it should be formatted in some limited word wrap
![screenshot from 2016-09-19 15-14-20](https://cloud.githubusercontent.com/assets/19172870/18628051/ffbc0692-7e7b-11e6-98ba-a88d0d32ed14.png)
![Uploading Screenshot from 2016-09-19 15-14-24.png…]()

[2016-09-19 14:09] cdrage opened #88 "docker-compose up fails"
Looks like it's from the renaming of Dockerfile:

[code]

[2016-09-19 19:08] maxandersen commented on #69
what do you see many-to-many relationship does that is not possible with associations ?

[2016-09-19 19:37] cdrage commented on #88
Seems that specifying `Dockerfile.builder` within the compose file doesn't work either:
[code]

Error:
[code]

[2016-09-19 19:53] Mgranfie commented on #69
+1 on the many to many scenario to start with.

On Tue, Sep 13, 2016 at 12:34 PM, Michael <notifications@github.com> wrote:

[2016-09-20 05:23] maxandersen commented on #69
what does that mean ? that you want many-to-many included from the start ?

if yes, then I have same question as I had to @ldimaggi, what is a many-to-many doing that cannot be done with associations ?

[2016-09-20 11:58] Mgranfie commented on #87
@naina-verma great catch! Is this the title or the description? The description should not display in the list view. If this is the title, it should only be one line of say 62 characters mx and then truncate, when displaying in the list. There should be a finite distance between the right side of the title and area between the next element to the right of it in the list, so that when the control r

[2016-09-20 12:04] naina-verma commented on #87
@Mgranfie ,
I would suggest limited number of work wrap should be better ,as title displays limited words on main page similarly Descriptions should be displaying 62(max) words and append (... Dots ) at the end of description for continue reading.

[2016-09-20 13:06] Mgranfie commented on #87
@naina-verma I think we are saying the same thing? Let me confirm...

1. The description should not show in the list view.
2. The Title should show.
3. The Title should display enough characters to always show at least "30" characters and then truncate with "...".
4. The title should display enough characters to leave "60" pixels between the end of the title and the first icon on the right.

These

[2016-09-20 14:02] michaelkleinhenz commented on #69
Whatever model we choose for the start, we should try to do it that it also serves as a base for the 6 month goal (meaning "designed that we don't have to throw most of the ui code away after 2 sprints to rework it to something completely different"). Therefore, I think it is important to understand where we are headed and not only what we want now. This is a special case where we should really do

[2016-09-20 14:05] nimishamukherjee commented on #87
@Mgranfie this issue was raised on the current UI (http://demo.almighty.io/#/work-item-list).
Naina is referring to the description field. We have enabled two fields for quick add - title and description.
It is interesting on how users are entering the PDD on the current UI. The title is a combination of PDD ID, type, and brief description. A detailed description of the PDD item is captured under

[2016-09-20 14:34] Mgranfie commented on #87
@naina-verma please see the designs located here:

https://github.com/almighty/almighty-ux/issues/14

The designs are not too detailed, so please do ask away... I hope the sketches help, to start.

[2016-09-20 15:11] ldimaggi commented on #69
Follow up to Max's followup - the association model sounds find. What I am
trying to do here is to solve the problem of linking tests to requirements
- this has been a problem for RH QE for a long time, so I expect that
customers are probably having the same problem too.

-- Len

On Tue, Sep 20, 2016 at 1:23 AM, Max Rydahl Andersen <
notifications@github.com> wrote:

--
Len DiMaggio (ldimaggi@redh

[2016-09-20 15:30] michaelkleinhenz commented on #48
I think we are almost there already. With #40 done, the core URL is baked in on build time and there is no other configuration (yet). The webpack configs have to be cleaned up and I think we can unify webpack.dev.js and webpack.prod.js. The test stuff should run regardless if dev or prod is built, so we should go for eliminating webpack.test.js.

[2016-09-20 15:34] michaelkleinhenz commented on #50
Should the verification span the full application or just the ui container? If it spans the full application, this is a larger task, involving setting up a E2E test framwork. I would suppose we currently looking only at functional tests local to the ui container in this sprint.

[2016-09-20 18:04] ppitonak commented on #50
Verification of UI container should be the first step. Since every merge goes potentially to production, E2E tests are a must.

[2016-09-21 03:44] joshuawilson commented on #88
@cdrage Thanks for reporting this.

@kbsingh @kwk Can you please look into this?

[2016-09-21 03:54] joshuawilson commented on #85
I agree. It would also make life hard for everyone else that would have to merge the changes. It is just easier to merge all pending PRs that we can and then do this.

[2016-09-21 09:40] ppitonak opened #89 "Unify what deps should be used in package.json"
Right now, various dependencies and dev dependencies are specified using both exact version and using caret:

[code]

There are two ways how to unify that:
1. use only specific version (e.g. 1.0.1), this approach is easier but requires more commits for deps upgrading
2. use only caret prefix (e.g. ^1.0.1), this way some deps will be auto-updated, downside is that people might use different version

[2016-09-21 10:23] kbsingh commented on #88
something whacky going on, i thought we dropped the wait-for-it script from everywhere, if not, we should. the service should be able to check if the db is there or not.

[2016-09-22 06:09] SMahil opened #90 "Integrate ng2-bootstrap module with ALMighty UI"
ng2-bootstrap module consists of native Angular2 components and directives, no jQuery or Bootstrap javascript

[2016-09-22 11:06] michaelkleinhenz opened #91 "Check npm dependencies for build warnings"
Currently, the build outputs some warnings that should be examined:

npm WARN deprecated cross-spawn-async@2.2.4: cross-spawn no longer requires a build toolchain, use it instead!
npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated to-iso-string@0.0.2: to-iso-string has been deprecated, use @segment/to-iso-string instead.

[2016-09-22 12:08] michaelkleinhenz commented on #50
I just submitted PR #92, which adds the framework for functional tests plus integration in the deploy/PR processes.

[2016-09-25 23:33] ldimaggi opened #96 "Cannot create new work items - on server built from master"
The save button is being ignored - first spotted this late on September 25 - thx!

[2016-09-26 01:55] joshuawilson commented on #96
@ldimaggi I just tried it and I can save with the button and the Enter key. Can you please list the steps to reproduce this bug? Also, refresh too. ;)

[2016-09-26 07:07] sanbornsen opened #99 "Can not update work item state from the list twice or more without refreshing."
What -
* Open the work item list.
* Open developer console to see the network requests.
* Click on the work item state.
* Change it to another.
* Goes through.
* Now again click on the state of the same work item.
* Try changing it to something else.
* It fails with a 500.

Fix -
* On the first change we are not updating the version of the work item.
* Therefore the failure response returns a vers

[2016-09-26 07:14] sanbornsen opened #100 "Error handling in UI"

[2016-09-26 08:25] michaelkleinhenz commented on #96
Have you correctly set/wired a backend? See the readme for details. Also, if not wired, the browser console will output lots of errors..

[2016-09-26 09:53] sanbornsen opened #101 "Refractor the status drawer shared component"
* Put all three files in one directory inside **shared-component**.
* Add an output event to handle it into the parent component.

[2016-09-26 13:12] ppitonak commented on #91
Jade is tricky one because they haven't had final 2.x release yet.

[2016-09-26 18:59] ldimaggi commented on #96
Doh! Yes - forgot export ENV=inmemory

This one can be closed. Thx!

[2016-09-26 18:59] #96 closed

[2016-09-26 19:56] sanbornsen commented on #101
It can be made more generic by removing the dependency from workItme.

[2016-09-26 22:45] ldimaggi opened #104 "Can we add id's to a workite,'s view and delete buttons?"
Having the id's added to the workitem lists (http://localhost:8088/#/work-item-list) is a big help - thx!

Can we also add id's for the individual details and delete buttons? It;s not difficult to access the buttons relative to their parent's id's:

workItemList_ViewItemDetailBtn = .//*[@id='workItemList_OuterWrap_0']/div/div[1]/button[1]
workItemList_deleteListItemBtn = .//*[@id='workItemList_Out

[2016-09-26 23:50] mindreeper2420 opened #105 "No data displayed on demo.almighty.io"
When visiting demo.almighty.io, I expected a list view to appear, but one does not. Currently, all that appears is the navigation and the Add Work Item fields.

When inspecting the page, numerous errors are reported. This occurred at 7:48pm on September 26.

<img width="1033" alt="screen shot 2016-09-26 at 7 50 05 pm" src="https://cloud.githubusercontent.com/assets/4032718/18855648/754b5024-8422-1

[2016-09-27 02:44] #105 closed

[2016-09-27 02:46] joshuawilson commented on #104
We discussed this. The problem is that the button is on a repeating item and therefor it would be hard to give it a unique ID. We have talked about several ideas. The current idea was to give a descriptive Class that you could find within the ID. Please let me know if this works. I'm open to other options.

[2016-09-27 10:11] maxandersen commented on #69
so what I read is noone can come up with a reason for why many-to-many is needed.

That associations with a type/direction is sufficient since that can then be used to visualize the links as necessary.

[2016-09-27 12:01] joshuawilson commented on #69
@maxandersen a many-to-many is easy to prove. A Value Prop can have many Experiences. An Experience can belong to many Value Props.

A WorkItem has a recursive many-to-many relation.

[2016-09-27 13:51] sanbornsen opened #107 "Only white spaces for title should not activate the add button in quick add component."
This is issue is tested and failed in in this PR - https://github.com/almighty/almighty-ui/pull/98

[2016-09-27 16:15] maxandersen commented on #69
@joshuawilson maybe we are using different terminology here :)

They are all the same basic links used to model many to many, right?

[2016-09-28 10:31] nimishamukherjee opened #110 "Bug - Save works with a blank title on the work item's detailed view page"
1. View the details of a work item
2. Clear the title
3. Save
4. Work item gets saved without a title

Proposed fix - save gets disabled if work item title is blank.

[2016-09-28 10:33] nimishamukherjee opened #111 "Bug - Work item's detailed view page does not display the work item title"
1. View the details of a work item
2. The page title displays "Detail"
The work item title is not displayed

Proposed fix - Display <work item title> Details

[2016-09-28 10:39] #19 closed

[2016-09-28 10:39] #35 closed

[2016-09-28 10:39] #50 closed

[2016-09-28 17:13] Mgranfie commented on #87
@naina-verma description should not display in the list.

[2016-09-29 00:02] Mgranfie commented on #69
@joshuawilson @maxandersen @michaelvirgil checking to see if there has been any consensus on this? If so can we nail down the requirements and rewrite the story around this? This way, I can either grab it off the backlog, potentially this sprint, or it will be ready to go next week for us... let me know.. thanks.

[2016-09-29 06:14] sanbornsen opened #117 "Update the inmemory data format as it is in the Backend API"

[2016-09-29 06:15] sanbornsen commented on #117
Supporting PR - https://github.com/almighty/almighty-ui/pull/113

[2016-09-29 06:17] sanbornsen opened #118 "Update work item service create method to accept both inmemory and API data"

[2016-09-30 08:41] nimishamukherjee opened #120 "Display the logged in user full name, image url (avatar) [Story #312 Visualizing the Login Status ]"
https://github.com/almighty/almighty-core/issues/312

On the current application header, we can display the logged in user's:
- full name
- avatar

On a Git hub login, there are two parameters, we can get.

[2016-09-30 08:54] nimishamukherjee opened #121 "User Logout"
(https://github.com/almighty/almighty-core/issues/305)

Once the user logs out
- the token needs to get cleared

[2016-09-30 09:10] nimishamukherjee opened #122 "Login using Git Hub - Use private variable to store the token"
https://github.com/almighty/almighty-core/issues/304

Currently the token can be accessed via the console as it is stored in a local storage.
Using private variables in services will make it secure

[2016-09-30 09:16] nimishamukherjee opened #123 "Login using Git Hub - Read/Write view management"
https://github.com/almighty/almighty-core/issues/304

A user who has not logged in can:
- View the list of work items
- View a selected work item's details

A user who has logged in can:
- Quick add a work item
- Delete a work item
- Edit a work item's detail
- Can change the status of a work item

[2016-09-30 09:29] nimishamukherjee opened #124 "Display and Update Work Item Details - Fetch and display work item types from core"
https://github.com/almighty/almighty-core/issues/298

Create a WorkItemType service which talks to core and retrieves the list of WI types.
The UI needs to display this list of work item types.

[2016-09-30 09:31] nimishamukherjee opened #125 "Display and Update Work Item Details [#298] - Fetch and display work item states from core"
https://github.com/almighty/almighty-core/issues/298

Create a WorkItemState service which talks to core and retrieves the list of WI state.
The UI needs to display this list of work item states.

[2016-09-30 09:42] nimishamukherjee opened #126 "Display and Update Work Item Details - Display confirmation dialog when navigating away without saving."
https://github.com/almighty/almighty-core/issues/298

If work item data has been changed but not saved, returning to the prior dialog requires confirmation.

Create a common shared component which
- takes input as title, text, array of buttons
- output would be an event (the parent needs to listen in on this)

[2016-09-30 09:50] nimishamukherjee opened #127 "Display Work Item List - Deleting a WI needs confirmation"
https://github.com/almighty/almighty-core/issues/297

From a list item, the user can delete a work item. Deleting a work item needs confirmation.

Reuse https://github.com/almighty/almighty-ui/issues/126

[2016-09-30 09:54] nimishamukherjee opened #128 "Display Work Item List - Retaining the user's view position"
Opening the work item detail view and returning to the work item list retains the current view position in the list.

The UI needs to scroll to the selected work item's ID

[2016-09-30 11:10] michaelkleinhenz opened #129 "Display and Update Work Item Details [#298] - Implement the "Return to Previous" Function"
Userstory: https://github.com/almighty/almighty-core/issues/298

We need to figure out how the "Return" function will work. By clicking on a return function, the user should return to the previous view. For the detail view, this could be either the list view or another detail view.

As this function will be required for many other dialogs in the future, we have to figure out how to do this in a ge

[2016-09-30 11:14] michaelkleinhenz opened #130 "Create the Page Framework"
We need to create the responsive framework for the application/page that defines the breakpoints, implements the proper "frame" design etc. according to UX.

[2016-09-30 13:21] nimishamukherjee commented on #130
@michaelkleinhenz, @SMahil :
@mindreeper2420 has defined the breakpoints - https://github.com/almighty/almighty-ux/issues/1

[2016-09-30 14:29] ppitonak commented on #85
I'm afraid that you cannot wait for all PRs to be merged... this issue would be blocked forever.

[2016-09-30 21:41] ldimaggi commented on #104
Hey Josh - we can make it work as is - we can find the buttons by their class names relative to the unique work item element id's - for example:

The view button can be defined as:

  workItemViewButton:  {
	  value: function (parentElement)
	{ return parentElement.element(By.css( ".btn.btn-default.workItemList_ViewItemDetailBtn" )); }
  },

And the button can be accessed by:

    page.workItemVie

[2016-09-30 21:42] #104 closed

[2016-10-02 15:46] #117 closed

[2016-10-02 15:48] sanbornsen commented on #118
This is taken care of in this PR - https://github.com/almighty/almighty-ui/pull/113

[2016-10-02 15:48] #118 closed

[2016-10-02 15:49] sanbornsen commented on #107
This issue is fixed in this PR - https://github.com/almighty/almighty-ui/pull/108

[2016-10-02 15:49] #107 closed

[2016-10-03 05:23] nimishamukherjee commented on #111
Bug resolved. Fix merged to master hence closing this bug.

[2016-10-03 05:23] #111 closed

[2016-10-03 08:04] aslakknutsen opened #132 "Provide some visual clue to which version of the UI is deployed"
It would be useful if the UI could include something like the Git SHA into the source somewhere so it would be possible to see which version is currently deployed in production.

Alternatives:

* Add just the Git SHA as a comment in index.html or similar so it can be manually inspected

or

* Add a link in the footer that points to the commit on GitHub

[2016-10-03 10:04] sbose78 commented on #132
Along with this, I think there should be a way to display what version of the alm core the UI is interacting with? Just thinking out aloud if we need to include both, @aslakknutsen . And if yes, https://github.com/almighty/almighty-core/pull/314 could be used for the version of the core (?)

[2016-10-03 12:49] Mgranfie commented on #69
There were discussions on Friday with @joshuawilson @aslakknutsen about having intelligent links. If a work item is referenced in a chat or a comment, a link can automatically be created on the issue that is referenced.

[2016-10-03 12:55] aslakknutsen commented on #69
@Mgranfie That would be a Backend feature, not a UI feature. And it should be it's own Story.

[2016-10-03 14:29] ppitonak opened #134 "Readme and npm scripts should be updated"
Readme file mentions these two commands for running tests

[code]

Standard way to run (unit) tests in Node.js/NPM projects is to run `npm test` which actually exists in almighty-ui but it doesn't work.

There should be unified way how to run tests, e.g. update _test_ script in package.json to call `run_unit_tests.sh` and create something like _test:functional_ in package.json that would call  `ru

[2016-10-04 04:40] sanbornsen commented on #99
This PR has the fix for this bug. - https://github.com/almighty/almighty-ui/pull/103

[2016-10-04 08:09] michaelkleinhenz opened #136 "Build sometimes fails due to keyserver not available"
The build sometimes fails because the keyserver is not available. Note: only a UI issue du to the key imports only used in the UI project.

[code]

[2016-10-04 08:11] kwk commented on #136
Is the problem reproducible? I can import the keys listed here https://github.com/nodejs/node#release-team without problems.

[2016-10-04 08:25] michaelkleinhenz commented on #136
As the build only fails occasionally, I think it's only a temporary problem at the server or a network problem. Both would be a bit unsatisfying.

[2016-10-04 08:29] michaelkleinhenz commented on #136
If I google ha.pool.sks-keyserver.net, Google completes with ".. timeout" and "..unreliable". Seems not an uncommon problem. Other projects have solved that with a fallback solution:

[code]

Will introduce this with a PR today.

[2016-10-04 08:31] kwk commented on #136
Sounds like a plan.

[2016-10-04 11:11] #136 closed

[2016-10-04 11:42] maxandersen commented on #69
@Mgranfie the intelligent or auto-linking is a separate story imo.

[2016-10-04 13:42] ppitonak opened #138 "Setup codecov in almighty-ui repo"
Almighty-core repository have codecov.io setup so that it comments on pull requests (see e.g. https://github.com/almighty/almighty-core/pull/333#issuecomment-251288339). It would be nice to have the same in this repo.

[2016-10-04 14:28] nimishamukherjee opened #139 "User Angular2 forms for quick add work item"
User Angular2 forms for quick add work item

[2016-10-04 14:29] nimishamukherjee opened #140 "Use Angular2 forms for View and Edit work item details"
Use Angular2 forms for View and Edit work item details

[2016-10-04 18:44] #110 closed

[2016-10-04 22:20] joshuawilson opened #141 "Make TS linting better"
Currently the TS linting is not configured and prints out a lot of warning when you run the unit tests.

[2016-10-05 05:46] nimishamukherjee opened #142 "View/edit work item details - a title with only white spaces whould not be saved"
View/edit work item details - save should remain disabled when white spaces have been entered as work item title.

[2016-10-05 07:50] sanbornsen commented on #125
This is resolved in PR - https://github.com/almighty/almighty-ui/pull/103

[2016-10-05 14:35] ppitonak opened #145 "Remove unused ghooks dependency"
Project specifies devDependency ghooks which seems to be not used.

It transitively brings 4 additional dependencies, one of which is cross-spaw-async which causes the following warning during `npm install`

[code]

[2016-10-05 16:59] #142 closed

[2016-10-06 04:00] #125 closed

[2016-10-06 04:01] #101 closed

[2016-10-06 04:02] #99 closed

[2016-10-06 08:48] naina-verma opened #147 "Sprint 121 task for naverma"
1. Where to place the test scripts? Which git repo?
2. When the tests should run? Where to add the steps?
3. Build for the test code? (Protractor - npm build)
4. Who should receive the notification? Which email account will be used to the mail from? Is there service account available? Could be part of the Jenkins.
5. Acceptance criteria: login - create work item - logout
6. Covering https://github

[2016-10-06 11:02] nimishamukherjee opened #148 "Make the list view responsive"
Make the list view responsive

Wireframe:
Desktop - https://redhat.invisionapp.com/share/6A8T2M2XB#/screens/193330602
Mobile - https://redhat.invisionapp.com/share/KH8SMN9DN#/screens/192528686

[2016-10-06 11:07] nimishamukherjee opened #149 "Make Quick Add Responsive"
Make Quick Add Responsive

[2016-10-06 13:11] ldimaggi opened #151 "Sprint 121 task - implement UI test page object model"
Build out preliminary test support following object page model () for:
- workitem list page in UI
- workitem board page in UI

Start building UI tests to support user stories - will be used as UI EE test.

See initial/partial implementation in: https://github.com/almighty/almighty-ui/pull/135

[2016-10-07 03:42] #85 closed

[2016-10-07 03:43] #141 closed

[2016-10-07 11:15] michaelkleinhenz commented on #127
I just merged my listentry PR. I had to move the dialog from the list to the entry. That works and might be the right place, but in general, I would place the dialog on the topmost level, app.component.html/ts. That would ensure the dialog is truly generic and available everywhere.

[2016-10-07 13:50] mindreeper2420 opened #155 "Update Buttons for Confirm Dialog"
Button options should be 'Cancel' or 'Confirm' for the delete modal (or any modal that requires a confirm or cancel of the action).

<img width="630" alt="screen shot 2016-10-07 at 9 49 09 am" src="https://cloud.githubusercontent.com/assets/4032718/19192209/83aa0d50-8c73-11e6-8ecc-eab96cd3c377.png">

[2016-10-10 04:09] joshuawilson commented on #138
@kwk did you set this up for core?

[2016-10-10 04:13] joshuawilson commented on #145
@kwk @kbsingh do you have an opinion about using ghooks. I had tried early on to configure them. I wasn't able to get them to work quickly enough so I abandoned the idea for later. I am sure I can get it to work if we want it. Thoughts?

[2016-10-10 05:53] ppitonak commented on #145
What did you want to use it for?

[2016-10-10 09:10] michaelkleinhenz commented on #129
Already properly implemented for the detail dialog. It uses the Angular 2 Location API. The browser back button also works as intended already. Documentation here: https://angular.io/docs/ts/latest/api/common/index/Location-class.html (see Location.back() behaviour).

[2016-10-10 17:25] joshuawilson commented on #145
git provides a way to hook some git actions (like commit, push) to run custom scripts. These hooks run at different moments of the actions, and you can use them to improve your workflow in several ways. Some examples are preventing a commit to happen if a test fails, or running some kind of build tool before pushing.

[2016-10-10 17:31] mindreeper2420 opened #158 "Match UI To Existing Wireframes"
This bug list covers items in the UI that need to be updated to match the wireframes created by UXD. If an item/area has not been covered by wireframes, it should be run past UXD for review. All views should be created for mobile first, as the design process is mobile first.
- [x] Mobile First on all screens / interactions
- [x] Review visuals to match PatternFly
- [PatternFly Pattern Library](htt

[2016-10-10 18:16] joshuawilson opened #159 "Fix lint warnings"
The new lint checker has found a lot of things and they get listed during the unit test run. They should be cleaned up so that any new code can be written according to the standard.

[2016-10-10 21:17] ldimaggi commented on #147
Notes on the tests:

Test repo - Where do we want to store the tests? Would we want to to maintain the tests in this repo:
https://github.com/almighty/almighty-spec ?

The first thing we have to work on for these tests is indeed the way we build or find the environment to test on. The most common thing would be to start the entire system locally and then execute the tests. Naina is looking at usin

[2016-10-11 08:04] michaelkleinhenz commented on #147
We'll need a database with a starting point schema.
I would skip the source step and just test the containers from the registry. These are the binaries that get deployed after all.
I'd use Ansible and some simple build management like Grunt to do the following steps:

1. Use Ansible to pull and start the database.
2. Create the initial database schema and some predefined test data in it.
3. Create

[2016-10-11 08:06] michaelkleinhenz commented on #147
@ldimaggi I think the -spec repo is for the WI/WIT specifications. I'd create a new repo almighty-e2e or something.

[2016-10-11 12:09] aslakknutsen commented on #147
@michaelkleinhenz It is not. It's intended to be a general user story spec repo.

[2016-10-11 12:25] ldimaggi commented on #147
For the test setup - can we re-use what is currently in use for the production server?

[2016-10-11 13:16] #159 closed

[2016-10-11 15:17] joshuawilson commented on #151
@ldimaggi is there more to do on this?

[2016-10-11 15:26] kbsingh commented on #147
@ldimaggi @michaelkleinhenz and I had a short call around this topic, and how we might setup to use the existing openshift infra. We've talked through a broad plan like this :

![e2e-almighty](https://cloud.githubusercontent.com/assets/207967/19276802/7b9f10b0-8fcf-11e6-8315-d4ca3c4b3ba0.png)

[2016-10-11 15:26] ldimaggi commented on #151
You read my mind - I think that we can close this for the current sprint. Need to update it when the UI changes. Thx!

[2016-10-11 18:51] #155 closed

[2016-10-11 22:40] joshuawilson opened #162 "Using Webpack there is an issue with system.js"
The following warning appear when you run 'npm test':
WARNING in ./~/@angular/core/src/linker/system_js_ng_module_factory_loader.js
45:15 Critical dependency: the request of a dependency is an expression

WARNING in ./~/@angular/core/src/linker/system_js_ng_module_factory_loader.js
57:15 Critical dependency: the request of a dependency is an expression

These are cause by webpack not knowing how t

[2016-10-11 22:55] #162 closed

[2016-10-11 23:10] joshuawilson commented on #158
@mindreeper2420 That is a great list. Can you please reference the existing issues for them or create an issue where one is missing. That will give us a place to discuss the design and track that it is getting worked.

[2016-10-11 23:11] joshuawilson commented on #149
@SMahil was this resolved or is there still more work to do on it?

[2016-10-11 23:11] joshuawilson commented on #148
@SMahil was this resolved or is there still more work to do on it?

[2016-10-11 23:12] #151 closed

[2016-10-11 23:14] joshuawilson commented on #147
@ldimaggi @kbsingh @michaelkleinhenz are there actual tasks that can be assigned out of this issue? Or is it just a discussion?

@naina-verma have your original questions been answered?

[2016-10-11 23:37] kbsingh commented on #147
@joshuawilson todays call was really to : 1) talk through the option of using the existing openshift infra to run these e2e tests, answer was : Yes, and then 2) to try and brainstorm quickly a process we might use. the Map above talks through the scope and potential process

[2016-10-12 04:59] joshuawilson commented on #91
@michaelkleinhenz can you please check this and post any warnings you are still getting. I have cleared a lot of them.

[2016-10-12 05:04] joshuawilson commented on #86
@sanbornsen Following the Angular 2 Style guide I went through and renamed all the selectors with the prefix "alm-". Does this answer your concerns. Please review the changes in master.

[2016-10-12 05:17] sanbornsen commented on #86
Yes. It does. To be more specific, all the independent component will have pf as prefix and all the components and sub components will have alm as prefix.

[2016-10-12 05:17] #86 closed

[2016-10-12 13:30] sanbornsen commented on #123
- [ ] Restrict quick add a work item - https://github.com/almighty/almighty-ui/pull/164
- [ ] Restrict change work item status on list - https://github.com/almighty/almighty-ui/pull/164
- [ ] Restrict delete work item
- [ ] Restrict update work item on details page

[2016-10-12 15:12] mindreeper2420 commented on #158
@joshuawilson So individual issues for each on of these bullet points? I know one or two already exist, so I can link them here and create more, if that is the desire.

[2016-10-12 15:46] mindreeper2420 opened #168 "Create Panel for Details Desktop View"
The Work Item Details view should be in a panel that slides out from the right side of the screen (desktop), rather than it's own page (mobile).

See InVision Prototype for details: https://redhat.invisionapp.com/share/UV8W6AEHX#/screens/193330600_Panel_Edit

[2016-10-12 15:48] mindreeper2420 opened #169 "Remove Username from Navigation Bar"
As there is currently no concept of a User, there should not be a username placeholder or dropdown in the navigation bar. The navigation bar should only show the product name.

[2016-10-12 15:50] mindreeper2420 opened #170 "Move Status Position in List View"
According to the List View prototypes, there is no indication of Work Item status. As such, that should be removed from the existing UI until there is a visual for that module.

InVision Prototype: https://redhat.invisionapp.com/share/CJ8W68V2T#/193330603_List

[2016-10-12 15:55] mindreeper2420 opened #171 "Kabob Menu Implementation"
According to the prototypes, the Kabob menu (the vertical ellipsis icon) controls the actions of the Work Item. These include moving the order of the item (to the top or bottom), Opening the item and deleting the item.
- Delete and View Details buttons should be removed from the list view.
- Opening an action from the Kabob that opens a modal (such as delete) should close the Kabob so that it is n

[2016-10-12 15:59] mindreeper2420 opened #172 "Consistent Button Alignment"
As a user, I want to be able to consistently and easily locate the various buttons that pertain to my inputs.

Criteria:
- Buttons follow [PatternFly formatting](http://www.patternfly.org/pattern-library/forms-and-controls/conditional-fields/#/api)
- [Buttons and Buttons Group in PatternFly](http://www.patternfly.org/pattern-library/widgets/#buttons)
- Keyboard inputs (Enter and Esc) are accepted

[2016-10-12 16:00] mindreeper2420 commented on #158
@joshuawilson I updated the list with proper references (GitHub, InVision and PatternFly) and created Issues in the almighty-ui repo.

[2016-10-12 18:10] joshuawilson commented on #158
@mindreeper2420 thanks, that will help us track the issues and get them worked. :)

[2016-10-12 18:12] joshuawilson commented on #169
If there is no User, what are we doing with the Login?

[2016-10-12 20:27] Mgranfie opened #173 "test"
As a user of the ALM tool, I want to be able to see

[2016-10-12 20:43] mindreeper2420 opened #174 "Form Layout and Consistency"
Based off of the current detail page, the form inputs and selectors are inconsistent in their styling and do not match PatternFly's methods (vs Bootstrap defaults).
- Squared corners
- Selector styling
- Text Box sizing

http://www.patternfly.org/pattern-library/forms-and-controls/forms/#_

[2016-10-12 22:13] joshuawilson commented on #173
@Mgranfie Is this an actual issue that you didn't finish or are you trying out github issues?

Can we remove it from the Sprint? It is listed as a task to completed this Sprint.

If it is just a test, please close it when you are done with it.

Thanks,
Joshua

[2016-10-12 23:25] joshuawilson opened #175 "Upgrade to Angular 2.1.0"

[2016-10-13 05:35] #134 closed

[2016-10-13 07:10] nimishamukherjee opened #177 "View details button not working on Firefox"
Browser - Firefox
On the work items list view, the view details button is not working.

[2016-10-13 07:44] #122 closed

[2016-10-13 09:24] naina-verma commented on #177
@nimishamukherjee , For me its not working on chrome too

[2016-10-13 09:30] naina-verma commented on #177
@nimishamukherjee ,
console error in firefox browser : https://gist.github.com/naina-verma/03d5900f357fcbfb019848f2c6587b23

[2016-10-13 13:40] nimishamukherjee commented on #126
![confirm](https://cloud.githubusercontent.com/assets/1892722/19350830/f4ef454a-9176-11e6-8dcf-ae09559c66b6.png)

@mindreeper2420 / @Mgranfie need your input on task.

**Use case** : User is one the work item's details screen. He makes a few changes and clicks on "Back".
A confirmation dialogue box needs to show up stating that changes have been made which will be lost if the user navigates away.

[2016-10-13 13:47] Mgranfie commented on #173
This was junk test....

[2016-10-13 13:47] #173 closed

[2016-10-13 15:09] mindreeper2420 commented on #126
@nimishamukherjee how about this for the moda:

Text:
Do you want to discard your changes?

Buttons:
Cancel        Discard

[2016-10-13 16:37] SMahil commented on #170
@mindreeper2420 As per our last discussion, We need to show the Work Item Status. Can you please confirm the change and provide me the icon names(for mobile view)

[2016-10-13 16:40] SMahil commented on #148
@joshuawilson List view is responsive now. No more work on this issue

[2016-10-13 16:51] SMahil opened #180 "Remove Delete Button from Work Item List"
Remove the Delete Button from List View

[2016-10-13 17:09] SMahil commented on #168
@mindreeper2420 How much width we are targeting for panel? And How it should come from 768px to 992px?

[2016-10-13 19:01] mindreeper2420 commented on #126
@nimishamukherjee @joshuawilson just to note, this paradigm might change when the slide-out pane is implemented. We will need to revisit this action after that.

[2016-10-13 19:29] mindreeper2420 commented on #170
@SMahil here is a view with the Work Item Status: https://redhat.invisionapp.com/share/GZ8Y29LJ5#/183714502_ALM_Basic_Workflow_24Aug3-pdf_7

The icons are:
- New: fa-circle-thin
- In Progress: fa-adjust
- Resolved: pficon-resources-full
- Closed: fa-check-circle

The status can also appear in the mobile view, in the same place as desktop.

[2016-10-13 20:16] mindreeper2420 opened #182 "Update Save Model for Input Fields"
The Save Model should follow the designs as listed in the [Save Existing & New Changes](https://redhat.invisionapp.com/share/4N8Y3BSAD#/193330599_Panel_Edit_-_Title) prototype.

Each input field should have a Cancel and Save option. This replaces the overall Cancel/Save that currently exists.

Keyboard controls will do the following:
- Esc = Cancel Input/Changes
- Enter/Return = Accept/Save Input/

[2016-10-13 20:21] joshuawilson commented on #120
Here is a reference to the UX for Login https://redhat.invisionapp.com/d/main#/console/8621915/185564523/preview

[2016-10-13 20:52] #148 closed

[2016-10-13 20:56] joshuawilson commented on #170
@mindreeper2420 can the status be changed by clicking on the icon?

[2016-10-13 21:09] mindreeper2420 commented on #170
@joshuawilson Not in this version, as it has not been laid out in the mobile ui yet (using native controls, etc.). To change the status, the user (currently) has to open up the panel and change it via the dropdown button (just like what is currently in the list view).

If this turns out to be too awkward or doesn't flow correctly, we're open for adjustment in the next pass. I'll post this question

[2016-10-13 21:34] joshuawilson commented on #180
merged

[2016-10-13 21:34] #180 closed

[2016-10-14 00:11] mindreeper2420 commented on #168
@smahil @joshua it should take about about 1/3 of the screen on desktop views. There are no defined pixel widths at the moment. If you'd like, I can review on a branch, once you have a rough stage of it.

[2016-10-14 02:50] joshuawilson opened #183 "The status drop down would not change without a refresh"
When changing the status in the drop down, the display value does not change. It apparently gets set because when you refresh it gets updated.

[2016-10-14 03:36] #183 closed

[2016-10-14 04:48] nimishamukherjee commented on #126
Thanks @mindreeper2420 will implement this for now.

[2016-10-14 05:42] sanbornsen opened #185 "Change status is not working on work item list"

[2016-10-14 06:39] #185 closed

[2016-10-14 07:14] sanbornsen commented on #177
The fix is in PR - https://github.com/almighty/almighty-ui/pull/187

[2016-10-15 04:39] nimishamukherjee commented on #140
PR #186 merged with master, hence closing this task.

[2016-10-15 04:39] #140 closed

[2016-10-15 04:41] nimishamukherjee commented on #177
PR #187 merged, hence closing the bug

[2016-10-15 04:41] #177 closed

[2016-10-15 04:43] nimishamukherjee commented on #127
PR #152 merged with master, hence closing this task.

[2016-10-15 04:43] #127 closed

[2016-10-15 05:00] #126 closed

[2016-10-16 04:10] joshuawilson commented on #34
Angular 2 will not build on Node 4. We will continue to use Node 6.

[2016-10-16 04:10] #34 closed

[2016-10-16 15:52] sanbornsen opened #191 "Authentication (401) error on getUser service"
**Problem**
- After first getUser call from user service, every next call is giving this error.

**Solution**
- Once we have the user detail we don't need to call the service again till next login.
- Using **set** instead of **append** for adding header.

[2016-10-16 15:52] sanbornsen commented on #191
@aslakknutsen @nimishamukherjee

[2016-10-17 06:28] kbsingh commented on #34
we should have nodejs-6 available on CentOS/RHEL in the coming weeks, once that hits, we should try and rebase to and track that version.

[2016-10-17 12:15] aslakknutsen opened #194 "WorkItem state vary from ListView to DetailView"
ListView shows state 'open' which is not available on DetailView.

[2016-10-17 19:56] ldimaggi opened #195 "ALM UI should allow desktop users to "just type""
The ALM UI should allow users to "just type" to create a new workitem. They should not have to press any buttons before typing in a new work item title.

![1](https://cloud.githubusercontent.com/assets/642621/19453164/1138ce2a-9482-11e6-96e1-d475ad8f1768.png)
![2](https://cloud.githubusercontent.com/assets/642621/19453163/11348d42-9482-11e6-9c1c-72f7a666a181.png)

[2016-10-17 19:58] mindreeper2420 commented on #195
@ldimaggi Is this something you are considering as a bug? If so, it should be filed under Almighty UX issues. The UX design for this does not auto-focus on the field when the page is loaded.

@SMahil @joshuawilson @Mgranfie

[2016-10-17 20:00] ldimaggi opened #196 "ALM UI should allow desktop cancel a new work item"
See attached desktop screenshots - the user, once he/she selects to create a new workitem - does not have a way to cancel that new workitem.

![1](https://cloud.githubusercontent.com/assets/642621/19453319/c7177098-9482-11e6-8409-652035963f25.png)
![2](https://cloud.githubusercontent.com/assets/642621/19453320/c71a865c-9482-11e6-8a15-00d1e705d5d4.png)

[2016-10-17 20:03] mindreeper2420 commented on #196
@joshuawilson the UX for this item is covered under [almighty-ux#36](https://github.com/almighty/almighty-ux/issues/36) and [InVision Prototype](https://redhat.invisionapp.com/share/NU8YPHLJP#/screens/195933689)

[2016-10-17 20:56] joshuawilson commented on #88
@cdrage @kbsingh is this still an issue?

[2016-10-17 22:11] #191 closed

[2016-10-17 23:22] mindreeper2420 opened #197 "Can't Open Work Items from Mobile"
As a mobile user, I cannot do anything with the work items, other than delete them. This differs from the desktop where I can view details and, from there, make additional changes that are then reflected in the List View of the work item.

[2016-10-18 02:32] #123 closed

[2016-10-18 04:43] sanbornsen opened #198 "Remove token param from the URL after login."
After login we have to remove the token from the URL as soon as possible.

[2016-10-18 04:50] sanbornsen opened #199 "Logout should not reload the page."
Logout should broadcast an event and all the places should be updated listening to that event.

[2016-10-18 06:07] nimishamukherjee commented on #197
@mindreeper2420 based on https://redhat.invisionapp.com/share/KY8LXF5QV#/screens/184288852
the View Details button is not visible on a mobile.

How do navigate to the details view on the Mobile?

We would have in-line editing (https://redhat.invisionapp.com/share/KH8SMN9DN#/screens) so we cannot click on the row.

Do we make 'View Details' a part of the Kabob menu on the mobile?

[2016-10-18 08:57] michaelkleinhenz opened #201 "Use Headless X-Server for Functional Testing across all supported browsers"
The Jenkins job and/or the functional tests should use xvfb for testing. That would allow for other
browsers to be used for the functional tests. There is a Jenkins plugin available at:

https://wiki.jenkins-ci.org/display/JENKINS/Xvfb+Plugin

As an alternative, this could also be integrated in the bash test runner like:

[code]

The CentOS package needed is:

`xorg-x11-server-Xvfb.x86_64 : A X Wi

[2016-10-18 09:43] ppitonak commented on #201
Since the tests run inside a Docker container, Jenkins plugin would be probably too difficult to configure because the Xvfb would run on Jenkins slave, not inside container.

It seems that easier way would be to install Xvfb and Firefox/Chrome in Docker container, i.e. add necessary packages in https://github.com/almighty/almighty-ui/blob/master/Dockerfile.builder#L25

[2016-10-18 13:37] mindreeper2420 commented on #197
@nimishamukherjee A few things:

1) There is actually no 'View Details' button on desktop (or any view). That button needs to be removed from the desktop view. See the [Desktop Visuals](https://redhat.invisionapp.com/share/BC8ZQ12MF#/197105081_A-0100-Create_Work_Item) for this information.

2) The mobile link you shared is outdated. This is the correct one to use: [ALM_SaveNew&Changes_MB](https://

[2016-10-18 21:18] joshuawilson commented on #149
This appears to be complete so I will close it.

[2016-10-18 21:18] #149 closed

[2016-10-18 21:19] joshuawilson commented on #139
We have a commit for making the Details view use forms. Should the title of this issue be changed? Or was this PR applied to the wrong issue and we should leave it open?

[2016-10-18 21:23] joshuawilson commented on #130
The original description is too vague for me. From one perspective we did this in the list view. From another it is talking about the Header and Footer and all within it.

[2016-10-18 23:34] mindreeper2420 opened #203 "Cannot Add Items to List in Mobile View"
When attempting to add a new Work Item to the list on mobile, the input field is blocked by the keyboard. The input does not stay fixed to the top of the keyboard once a user touches the Title input. This did not occur before the Add Work Item inputs were moved to the bottom of the screen.

![img_0065](https://cloud.githubusercontent.com/assets/4032718/19500310/e3b09fda-9569-11e6-96e3-ce8b70a30e11

[2016-10-18 23:45] mindreeper2420 opened #204 "Add A Work Item Text Does Not Match UX"
The text for 'Add A Work Item' is incorrect and does not match the UX. "Work Item" is two words and needs to be written as such.

- [UX Design](https://redhat.invisionapp.com/share/S2902RXE5#/192528688_ListView_-_1)

![img_0066](https://cloud.githubusercontent.com/assets/4032718/19500427/12c6fb1a-956b-11e6-86e8-0c026e7ed086.png)

![screen shot 2016-10-18 at 7 43 05 pm](https://cloud.githubusercont

[2016-10-19 00:06] mindreeper2420 opened #205 "Second Level Navigation Should Be Hidden/Removed"
According to the UX designs, there is not a second level navigation. The UI, in it's current state, has "Work Item List" and "Board" as navigation options. These should be either hidden from view or removed.

### [UX Visuals](https://redhat.invisionapp.com/share/ZU902Z1WQ#/195933776_A-0400)

----
### Current demo.almighty.io UI
![screen shot 2016-10-18 at 7 43 05 pm](https://cloud.githubuserconten

[2016-10-19 00:07] mindreeper2420 commented on #205
@Mgranfie adding you as a participant.

[2016-10-19 00:07] mindreeper2420 commented on #204
@Mgranfie adding you as a participant.

[2016-10-19 00:07] mindreeper2420 commented on #203
@Mgranfie adding you as a participant.

[2016-10-19 08:05] nimishamukherjee opened #206 "Work Item Linking - UI for link type tabs"
Reference Story - https://github.com/almighty/almighty-core/issues/306

We need four tabs - Total links, Related Items, Blockers, and Dependencies
UX - https://redhat.invisionapp.com/share/J38SPOKNA#/screens/193221472

[2016-10-19 08:09] nimishamukherjee opened #207 "Work Item Linking - UI for creating a work item link"
Reference Story - https://github.com/almighty/almighty-core/issues/306

Develop the UI for work item linking based on https://redhat.invisionapp.com/share/J38SPOKNA#/screens

[2016-10-19 08:20] nimishamukherjee opened #208 "Realize UX for Work Item Detail View"
Will refer to https://redhat.invisionapp.com/share/NU8YPHLJP#/screens/196006936

[2016-10-19 08:23] nimishamukherjee commented on #128
Closing this task, as the Detail View would be on the same page as the list view.

[2016-10-19 08:23] #128 closed

[2016-10-19 12:04] sanbornsen opened #209 "Implement a global event and listen from all over the application on logout to update the UI components"

[2016-10-19 12:06] sanbornsen opened #210 "Implement unit tests for change on logout in each component or subcomponent."

[2016-10-19 13:15] mindreeper2420 commented on #170
@joshuawilson @SMahil Here is Brian's visual, which shows the status icon information and layouts:
- [Almighty-UX](https://github.com/almighty/almighty-ux/issues/36)
- [InVision Prototype](https://redhat.invisionapp.com/share/NU8YPHLJP#/screens/196006933)

@bdellasc - can you comment on anything that may need your review?

[2016-10-19 13:25] mindreeper2420 opened #211 "Description Needs to be Part of 'Quick Add'"
As part of the 'Quick Add' functionality, the user should be able to add a description. This is not a required field.

[Visual Design](https://redhat.invisionapp.com/share/NU8YPHLJP#/screens/197122698)

[2016-10-19 13:26] SMahil commented on #203
@mindreeper2420 Can you specify on which mobile and browser you find this issue

[2016-10-19 14:52] joshuawilson commented on #91
@michaelkleinhenz can you please confirm?

[2016-10-19 14:53] bartoszmajsak commented on #175
I would wait until 3.0.0 is out ;)

[2016-10-19 15:48] mindreeper2420 commented on #203
This was done on iOS 10, iPhone 6s Plus using Chrome.

[2016-10-19 18:36] ldimaggi opened #212 ""Change State" on a workitem at http://demo.almighty.io/ raises an exception"
See screenshot:

![exception](https://cloud.githubusercontent.com/assets/642621/19532380/790b4aae-9609-11e6-9a8c-629f78090585.png)

[2016-10-20 10:07] nimishamukherjee opened #214 "Fix time-out during functional test execution"
Fix time-out during functional test execution

[2016-10-20 10:30] michaelkleinhenz commented on #91
I still get some warnings:
[code]
last two are new. I don't know how severe that is. Maybe these are just integration warnings between 3rd party dependencies.

I also get a warning in the prostinstall of Patternfly:
[code]
Looks like a missing dependency of bower in Patternfly's package.json. They might consider bower a global prerequisite.

Also, at the end of the build there are some warning fro

[2016-10-20 10:54] sanbornsen commented on #212
I don't think this is how we are going to change the sate.

[2016-10-20 13:31] mindreeper2420 commented on #212
@sanbornsen @ldimaggi This will be the first iteration for changing state on mobile, but it should not be in a popover menu such as this. Refer to [this screen](https://redhat.invisionapp.com/share/TE90YWM4J#/194297166_KabobMenu) for how the menu should open (Change State is not in this reference, just demonstrating how the menu should appear on mobile).

[2016-10-21 06:34] ppitonak commented on #91
1. `cross-spawn-async` comes with `ghooks` which seems not to be used in project (see https://github.com/almighty/almighty-ui/issues/145), there is new version of ghooks so upgrade might help
2. `lodash-node` comes with `karma-htmlfile-reporter`, upgrade to latest version helps
3. problem with `patternfly-bootstrap-treeview` is fixed in newer versions of `patternfly`
4. warnings by `codelyzer` sho

[2016-10-21 08:37] nimishamukherjee commented on #214
PR merged with master. Hence closing.

[2016-10-21 08:37] #214 closed

[2016-10-21 08:47] nimishamukherjee commented on #205
PR #217 merged with master. Hence closing this bug.

[2016-10-21 08:47] #205 closed

[2016-10-21 08:48] nimishamukherjee commented on #204
PR #218 merged with master, hence closing this bug.

[2016-10-21 08:48] #204 closed

[2016-10-21 08:51] nimishamukherjee commented on #203
PR #219 merged with master, hence closing the bug.

[2016-10-21 08:51] #203 closed

[2016-10-21 08:52] nimishamukherjee commented on #170
PR #216 merged with master. Hence closing this bug.

[2016-10-21 08:52] #170 closed

[2016-10-21 11:36] naina-verma opened #222 "Adding page object functions for new quick add layout"
Adding page object functions for new quick add layout, and write few tests.

[2016-10-21 15:19] mindreeper2420 opened #224 "Status Indicator is Incorrect and Incorrectly Positioned"
The status indicator should be an icon and positioned on the left side of the list item - based off of this [Design](https://redhat.invisionapp.com/share/BH91MDY82#/196310339_A-0100-Visuals).

Currently, the demo.almighty.io site has it as a button, positioned on the right.
<img width="1918" alt="screen shot 2016-10-21 at 11 15 33 am" src="https://cloud.githubusercontent.com/assets/4032718/1960366

[2016-10-21 15:50] nimishamukherjee commented on #121
PR #189 merged with master, hence closing the issue.

[2016-10-21 15:50] #121 closed

[2016-10-21 15:52] nimishamukherjee commented on #120
PR #189 merged with master, hence closing the issue.

[2016-10-21 15:52] #120 closed

[2016-10-21 15:54] nimishamukherjee commented on #8
PR #189 merged with master, hence closing this story.

[2016-10-21 15:54] #8 closed

[2016-10-21 15:55] nimishamukherjee commented on #199
PR #189 merged with master, hence closing this task.

[2016-10-21 15:55] #199 closed

[2016-10-21 15:59] nimishamukherjee commented on #169
@mindreeper2420 we have enabled user login via GitHub. We now display the Git Hub username and avatar.
Can you confirm if this is fine?

[2016-10-21 16:08] mindreeper2420 commented on #169
@joshuawilson @nimishamukherjee just test on the site and it looks good. I'm good with closing this issue.

[2016-10-21 16:23] ldimaggi opened #225 "Quick workitem add is displayed on bottom of screen for Firefox 38.4.0, not for Chrome 50.0.2661.86"
See attached screenshot - this is after building from master on October 21

![chrome_firefox](https://cloud.githubusercontent.com/assets/642621/19605577/22f07abe-9789-11e6-97c8-7a839f8b7810.png)

[2016-10-23 01:38] mindreeper2420 opened #227 "No login available on mobile"
The option to log into the system is not available on mobile devices. The hamburger menu does not open when touched. As such, work items cannot be added to the list.

[2016-10-23 18:41] joshuawilson commented on #227
@SMahil Can you please take a look at this?

[2016-10-23 18:45] joshuawilson commented on #224
@mindreeper2420 Thanks for the link to the new wireframe. Changing to an icon will take a bit more work, but you had said to move it to the right side when we asked the first time. That is why it was moved.

@SMahil Can you please move it back to the left.

[2016-10-23 18:47] joshuawilson commented on #225
@ldimaggi it appears that you are not logged in. The Quick Add and several other "edit' features are not available while logged out. If you agree, please close the issue.

[2016-10-24 04:50] nimishamukherjee commented on #169
PR #189 merged with master hence closing this issue.

[2016-10-24 04:50] #169 closed

[2016-10-24 05:28] sanbornsen commented on #224
@mindreeper2420
- How shall we change the status or type on workitem list? Any design for that?
- There are more than three status and types, how do we go about them?

[2016-10-24 06:16] sanbornsen commented on #227
@mindreeper2420
We tried to follow the design on pattern-fly - http://www.patternfly.org/pattern-library/navigation/vertical-navigation/vertical-navigation.html#_

The mobile view of it has not login button. Keeping in mind we need to have that feature, do you have a UX ready for that? My suggestion would be, putting it into a vertical navigation (yet to implement) which will come out clicking on

[2016-10-24 06:18] nimishamukherjee commented on #224
@mindreeper2420 / @joshuawilson the status icons and type icons are not intuitive. What additional information can we provide around the icons to make it easier for the user to understand.

[2016-10-24 06:20] sanbornsen commented on #227
I see a small user icon in this layout - https://redhat.invisionapp.com/share/798MZ3GG5#/185961156_AddAWorkItem-1-v3-

[2016-10-24 06:37] nimishamukherjee commented on #208
@joshuawilson, @SMahil initials thoughts on having the view details and work item list of the same page as per the wirefram
1. We need a work-item-home
2. Work item home will load work item list and work item detail

Is this the right approach?

[2016-10-24 09:18] naina-verma opened #228 "Username not displayed after login"
Username not displayed after login , if there is no fullName defined in your github profile
I have tried Login on Firefox and chrom (Incognito also).  The Username is not displayed on desktop browsers.
Steps to reproduce
- clear browser cache
- Get request demo.almighty.io
-  Login using github account
  Results : Avatar with logout is visible but username is not
  Getting console output
  GET Cal

[2016-10-24 09:25] sanbornsen commented on #227
I followed the link on previous comment and added this PR - https://github.com/almighty/almighty-ui/pull/229

@joshuawilson @nimishamukherjee @SMahil @mindreeper2420 Please review !!

[2016-10-24 10:18] naina-verma commented on #228
Tried Few more things
- Added Profile name to Github account ,logout(from almighty ui and github)
- Revoke authorization of almighty and clear cache, login again

[2016-10-24 10:46] naina-verma opened #230 "Functional Tests For Login/Authentication UI"
Functional Tests For Login/Authentication UI

[2016-10-24 11:41] aslakknutsen commented on #228
Core currently only fetch the 'User' data from GitHub on the first login/when the account is created.

We can't guarantee that FullName will be set as this is coming from remote system which doesn't have this as a requirement, but we could re-fetch data from GitHub on each login and update the remote info if needed. That would at least catch the 'i've added my full name later' use case.

[2016-10-24 12:02] mindreeper2420 commented on #224
@sanbornsen - the design (this iteration) does not call for changing the status in the list. That is done in the detail view. Match the design for now and updates will follow. Might be helpful to create a bug in almighty-ux.

Please reach out to Brian for information on additional icons.

[2016-10-24 12:04] mindreeper2420 commented on #224
@nimishamukherjee @joshuawilson - if not in this iteration of the design (or in PatternFly), then there is nothing additional to add for showing more information. Please reach out to Brian by filing a bug on almighty-ux requesting this information.

[2016-10-24 12:50] sanbornsen opened #231 "Single render of header and footer for different route."
On changing the URL, for example navigating from list page to details page, renders the header and footer. Header, footer, navigation menu these are common components so they should be rendered only once.

[2016-10-25 05:40] nimishamukherjee commented on #209
PR #189 merged. Hence closing the issue.

[2016-10-25 05:40] #209 closed

[2016-10-25 10:43] SMahil commented on #211
@mindreeper2420 Can you provide the mobile design for same

[2016-10-25 11:49] mindreeper2420 commented on #211
@smahil the mobile view does not have the description field due to spacing and usability restrictions. Future iterations will look at mid-tier screens that will have more room.

[2016-10-25 16:13] sanbornsen commented on #171
Each action specified in the design is a task. I assume this issue is more about get the kebob menu in place and get it working properly. Am I right?

[2016-10-25 16:14] sanbornsen opened #234 "Use ng2-dropdown directive library instead of in dwopdown component for dropdown."

[2016-10-25 19:00] mindreeper2420 commented on #224
Yeah, that was before the final visuals came out.

On Sunday, October 23, 2016, Joshua Wilson <notifications@github.com> wrote:

[2016-10-25 19:53] joshuawilson commented on #225
@ldimaggi can you please confirm this?

[2016-10-25 21:15] aslakknutsen opened #237 "404 on font resources on demo.almighty.io"
Currently, the following resources return 404:

http://demo.almighty.io/node_modules/patternfly/dist/fonts/PatternFlyIcons-webfont.ttf
http://demo.almighty.io/node_modules/patternfly/dist/fonts/PatternFlyIcons-webfont.woff

[2016-10-26 00:16] joshuawilson commented on #237
@SMahil can you look into this please.

[2016-10-26 07:41] ppitonak commented on #237
It seems that you need to be logged-in to reproduce.

[2016-10-26 07:44] ppitonak commented on #234
@sanbornsen is it this library https://github.com/pleerock/ng2-dropdown ? It specifies license (MIT) only in package.json so we should find out if that is sufficient.

[2016-10-26 09:32] sanbornsen commented on #224
@SMahil can we have a HTML CSS for it? I can work on the component.

[2016-10-26 13:26] joshuawilson commented on #234
@ppitonak that is a good point, I'll ask Richard.

[2016-10-26 15:08] SMahil opened #241 "Refactor CSS into SCSS"
Refactor the stylesheets to SCSS standards

[2016-10-26 19:01] ldimaggi opened #244 "We we retain the state button in the workitem list view and the change state option in each workitem's kebab UI element too?"
See attached screenshot - will we retain both of these?

![screenshot from 2016-10-26 14-53-59](https://cloud.githubusercontent.com/assets/642621/19740554/10bc0310-9b8d-11e6-9719-d26445e2e505.png)

[2016-10-26 20:33] SMahil commented on #224
@sanbornsen Please find the HTML at below branch:

almighty-ui-224

[2016-10-26 20:41] #24 closed

[2016-10-26 20:42] #25 closed

[2016-10-27 12:33] sanbornsen commented on #234
@ppitonak Sorry !! i missed that. Looks like @joshuawilson go it covered.

[2016-10-27 15:20] #175 closed

[2016-10-27 17:28] mindreeper2420 commented on #244
@ldimaggi the State Change button (Open w/dropdown) should not be in the UI. According to the wireframes, it should only be a status icon, located on the left of the screen. @Mgranfie

[2016-10-28 03:39] #227 closed

[2016-10-28 11:17] sanbornsen commented on #194
Fix - https://github.com/almighty/almighty-ui/pull/249

@aslakknutsen @joshuawilson please review.

[2016-10-31 19:37] joshuawilson commented on #228
@aslakknutsen are you taking this as a Core task?
@naina-verma can we close this issue?

[2016-10-31 20:50] joshuawilson opened #254 "Apply AOT"
Set up and configure Ahead of Time compilation to improve performance.

This should be done through webpack.

[2016-10-31 20:51] joshuawilson opened #255 "Apply Tree Shaking"
Set up and configure Tree Shaking to improve performance.

This should be done through webpack.

[2016-11-01 13:14] #234 closed

[2016-11-01 13:14] #241 closed

[2016-11-01 13:16] joshuawilson commented on #225
Works as expected, just needed to login.

[2016-11-01 13:16] #225 closed

[2016-11-01 13:43] joshuawilson commented on #145
At this point, I have yet to come up with a good reason to use ghooks. However when I remove them, they create a lot of warnings. So for now, I will leave them in and close this.

If they become a problem, please open this up and I will readdress the issue.

[2016-11-01 16:30] aslakknutsen opened #258 "Default selection on Confirm dialog component"
When selecting 'delete' from the work item menu on the work item list a 'confirm dialog' pops up.

One of the options should be 'default' selected and respond to keyboard input.

Either 'Cancel' is selected and you can do Arrow-Left + Enter to move to confirm and perform the action Or 'Confirm' is selected and you do Enter to confirm and perform the action.

And 'Esc' should be same as 'Cancel'

[2016-11-01 17:21] mindreeper2420 opened #259 "Incorrect Quick Add Behavior"
As a user, I expect the action of hitting 'Enter' to quickly add an item to the list to be usable whether I am entering information in the Title or Description fields.

Problem:
- The current iteration only adds an item using the Enter key while active in the Title input
- Hitting Enter in the Description fields adds a new line

Solution:
- A user can hit Enter while either the Title or Descriptio

[2016-11-01 18:08] aslakknutsen commented on #259
Return focus to Title when Enter is hit?

Also 'scale back down' after Enter is hit. ?

[2016-11-01 21:52] #194 closed

[2016-11-02 07:00] sanbornsen commented on #171
This issue is not one task, if I break it -
- [ ]  Delete and View details button should be removed. (How to access the details page?)
- [ ]  Opening an action modal should close the kebob.
- [ ]  Move item top or bottom actions in the kebob (Need back-end support on this)

[2016-11-02 07:08] naina-verma commented on #228
@joshuawilson , yes i have created the bug in core , you can close this issue.
Thanks

[2016-11-02 07:19] naina-verma opened #261 "Quick add description text box not align wrt to title box"
Quick add description text box not align wrt to title box
There is slight modification  required in description text box alignment.
Its height should be equal to title txt box.
It happened in only firefox browser (Chrome is working fine)
![screenshot from 2016-11-02 12-39-16](https://cloud.githubusercontent.com/assets/19172870/19919611/f24a79e4-a0f9-11e6-80f9-d6b2b73ad11f.png)

[2016-11-02 09:27] sanbornsen commented on #231
This is issue is covered with implementing NgModule and Child Routing.

[2016-11-02 09:27] #231 closed

[2016-11-02 10:00] sanbornsen commented on #212
@mindreeper2420 about that, we need to discuss. The design you have shown is a native design for iOs and Android has something similar, but that works only if we use <select><option /></select> in HTML. I guess in order to implement that in our current system we need a work around. @joshuawilson @SMahil please comment.

[2016-11-02 10:01] sanbornsen commented on #211
Can we close this issue?

[2016-11-02 12:56] sanbornsen commented on #208
* Can the user click on items under the layover?
* Will clicking out of the layover closes the layover?
* Can we change the details URL and make something under work-item-list/ ?

[2016-11-02 14:05] mindreeper2420 commented on #208
@sanbornsen @michaelkleinhenz @joshuawilson
* Clicking on the rows behind the slide-out panel will change the details inside of the panel. This will allow for easy switching between item details.
* There should be an 'X' in the upper right of the panel to close the panel?

[2016-11-02 14:13] mindreeper2420 commented on #211
@sanbornsen If fixed, I'd attach the PR that fixes this bug, and then I'd be fine with closing it. @michaelkleinhenz @joshuawilson is this a good method for verifying bugs? Attaching the merged PR?

[2016-11-02 14:14] mindreeper2420 commented on #171
@sanbornsen Accessing the Details page is done either by the 'Open' option in the kabob, or my clicking on the row itself (other areas reference showing the panel. There is not a separate details page).

[2016-11-02 14:17] mindreeper2420 commented on #212
@sanbornsen @joshuawilson @SMahil How is the current system not HTML? I would think that a slide-up modal from the bottom would be a CSS/SASS styled <div> with hide/show and animation characteristics?

[2016-11-02 14:39] nimishamukherjee commented on #124
PR #220 merged hence closing the task.

[2016-11-02 14:39] #124 closed

[2016-11-02 14:59] ppitonak commented on #145
For the record, when I removed ghooks from devDependencies, some git commands showed these warnings:

[code]

To solve this, you need to remove all hooks generated by `ghooks`:

[code]

[2016-11-02 15:24] joshuawilson commented on #212
The Status should not be changed in the listview. Closing.

[2016-11-02 15:25] joshuawilson commented on #196
There is now an X that closes it.
Closing.

[2016-11-02 15:25] #196 closed

[2016-11-02 15:35] sanbornsen commented on #198
Done!

[2016-11-02 15:35] #198 closed

[2016-11-02 15:53] sanbornsen commented on #259
- [ ] Enter in description field should save the new work item.
- [ ] Shift + Enter should create a new line.
- [ ] Return focus to title on hit Enter.
- [ ] Description field should auto increase the height.

[2016-11-02 16:25] nimishamukherjee commented on #129
@michaelkleinhenz why did you close this issue and then re-open it? I think this can be closed. @joshuawilson your thoughts?

[2016-11-02 16:27] michaelkleinhenz commented on #129
Yes, I was falling in the same thing Monica has fallen into: I hit the Close and Comment button instead of just Comment.
So basically: I think this is done and can be closed, but I don't just wanted to do it without you agreeing..

[2016-11-02 16:34] nimishamukherjee commented on #129
We can close this. After the Detail's overlay code is merged, we will remain on the list view page. We would not have a return to previous scenario.

[2016-11-02 16:53] #129 closed

[2016-11-02 18:21] #228 closed

[2016-11-02 19:49] joshuawilson commented on #211
@mindreeper2420 I agree.

Fixed in #253

[2016-11-02 19:49] #211 closed

[2016-11-02 19:51] joshuawilson commented on #210
@sanbornsen is this something you plan to work on? Considering we closed the login/logout user stories.

[2016-11-02 19:56] joshuawilson commented on #171
@sanbornsen you can still implement moving items up and down with the kabob, you just can't persist the location. We do not have ordering setup yet.

[2016-11-02 20:08] sanbornsen commented on #171
@joshuawilson @mindreeper2420 I'd rather wait for the backend instead. Because anyway if we don't save the order, adding a new item will again re order it.

[2016-11-02 20:08] sanbornsen commented on #139
@nimishamukherjee is this done?

[2016-11-02 20:10] sanbornsen commented on #197
This issue is solved in PR - https://github.com/almighty/almighty-ui/pull/265
Hence closing it.

[2016-11-02 20:10] #197 closed

[2016-11-02 20:22] joshuawilson commented on #212
Sorry for closing. After a more careful reading of the comments, this is not decided.

[2016-11-03 05:40] sanbornsen commented on #212
@mindreeper2420 Well, that design you have provided is a native design for iOs for select HTML tag. Do you want us to replicate that design for our application with Angular and  HTML CSS?

[2016-11-03 06:39] joshuawilson commented on #212
@sanbornsen that would make for an interesting component. A dropdown menu with side pop-outs. I would maybe save this to the next sprint.

[2016-11-03 07:35] joshuawilson commented on #145
Opening to follow @ppitonak advise.

[2016-11-03 14:40] sanbornsen commented on #259
It's done.

[2016-11-03 14:40] #259 closed

[2016-11-04 13:53] nimishamukherjee commented on #210
@joshuawilson this has been done for the details page

[2016-11-04 17:58] sanbornsen commented on #210
@joshuawilson I don't think I can take it up for the sprint.

[2016-11-06 02:30] joshuawilson commented on #210
@nimishamukherjee which PR has this in it?

[2016-11-06 02:38] joshuawilson opened #267 "Set up pagination for list view"
The List View should have continuous scrolling that displays a certain amount initially and as the user scrolls down the list more "pages" are fetched so that more data is available.

[2016-11-06 03:50] ldimaggi opened #268 "Inconsistent display of save/cancel buttons in work item detail display"
Can we change the order (left/right) of the buttons consistent? See attached screenshot.
![inconsistentorder](https://cloud.githubusercontent.com/assets/642621/20035230/6afc8c78-a3b2-11e6-9dc1-15390ea35b9c.png)

[2016-11-06 03:51] ldimaggi opened #269 "Feature request - can we add id's to work item detail page elements?"
Detail Page. Work Item Title Edit Save Button:
<div id="workItemTitle_btn_save" class="fl btn-small detail-action-btn" _ngcontent-dwu-8="" ng-reflect-klass="fl btn-small detail-action-btn" ng-reflect-ng-class="[object Object]">
<span class="fa fa-check" _ngcontent-dwu-8=""/>
</div>

Detail Page. Work Item Title Edit Cancel Button:
<div class="fl btn-small detail-action-btn" _ngcontent-dwu-8="">
<s

[2016-11-06 03:55] ldimaggi opened #270 "In the work item page, can we move the description edit icon/button to be outside of the text box?"
See attached screenshot - thx!

![screenshot from 2016-11-05 23-52-55](https://cloud.githubusercontent.com/assets/642621/20035252/58120fba-a3b3-11e6-8174-184f77803442.png)

[2016-11-06 14:39] mindreeper2420 commented on #270
@ldimaggi @nimishamukherjee this is more of a request for UX, as this matches the visual design shown in this design: https://invis.io/NU8YPHLJP

[2016-11-07 03:57] naina-verma opened #271 "View detail page title layout is not appropriate"
Clicked on Open any issue , View detail page title(Header) layout is broken on firefox and chrome both
![screenshot from 2016-11-07 09-24-42](https://cloud.githubusercontent.com/assets/19172870/20046073/3ee6fb08-a4cc-11e6-955e-67e7f8ae330d.png)

[2016-11-07 08:21] SMahil commented on #261
@naina-verma this issue is already fixed. Please find the screenshot
<img width="1409" alt="screen shot 2016-11-07 at 1 49 43 pm" src="https://cloud.githubusercontent.com/assets/10396359/20050782/247c318c-a4f1-11e6-93e9-41b3596cda54.png">

[2016-11-07 08:23] nimishamukherjee commented on #269
The following have IDs on the View Details panel:
- Title edit span
- Edit Save div
- Edit Cancel div
- Description edit icon span
- Description Save div
- Description Cancel div

https://github.com/almighty/almighty-ui/commit/9d41ec7224ba9fddad4b1dbe7289b6cd4a14e87f

[2016-11-07 09:07] naina-verma commented on #261
@SMahil ,This shows up on firefox version 47.0
![screenshot from 2016-11-07 14-36-13](https://cloud.githubusercontent.com/assets/19172870/20051955/aaee819c-a4f7-11e6-8817-7bbda5fcd66f.png)

[2016-11-07 13:28] sanbornsen commented on #268
@nimishamukherjee has done it. It's on the PR. SO we can close it.

[2016-11-07 13:28] #268 closed

[2016-11-07 13:41] sanbornsen commented on #269
So, we got it covered too !!

[2016-11-07 13:41] #269 closed

[2016-11-07 13:42] sanbornsen commented on #270
We have implemented it as per the design. Closing the issue !!

[2016-11-07 13:43] sanbornsen commented on #271
Which branch you are looking at?

[2016-11-07 19:43] ldimaggi commented on #271
alm-ui-208-uxdetailview

[2016-11-08 04:34] #270 closed

[2016-11-08 04:35] sanbornsen commented on #261
@SMahil @naina-verma Is it done?

[2016-11-08 04:38] sanbornsen commented on #208
This done and merged with master.

[2016-11-08 04:38] #208 closed

[2016-11-08 04:43] naina-verma commented on #261
@sanbornsen , @SMahil is working on it ,not done yet!

[2016-11-08 06:09] nimishamukherjee commented on #168
PR #263 merged with master hence closing this task.

[2016-11-08 06:09] #168 closed

[2016-11-08 06:12] nimishamukherjee commented on #172
PR #263 merged to master. Quick Add, List View, and Details View updated as per visual design.
@mindreeper2420 can we close this?

[2016-11-08 06:13] nimishamukherjee commented on #174
PR #263 merged to master. Quick Add, List View, and Details View updated as per visual design.
@mindreeper2420  can we close this?

[2016-11-08 06:15] nimishamukherjee commented on #210
@joshuawilson PR #263 takes care of logged in and logged unit tests.

[2016-11-08 06:16] nimishamukherjee commented on #224
PR #263 merged to master. Status indicator position updated.
@mindreeper2420 can we close this?

[2016-11-08 06:31] nimishamukherjee commented on #271
@naina-verma the details page has been updated. It is now a slide out panel.
Hence closing this issue.

[2016-11-08 06:31] #271 closed

[2016-11-08 10:03] baijum commented on #45
@sanbornsen Is this issue resolved recently?

[2016-11-08 12:11] mindreeper2420 commented on #172
If PR was approved and merged, I see no reason not to close. Thank you for adding the PR# to the story.

[2016-11-08 12:11] #174 closed

[2016-11-08 12:12] #224 closed

[2016-11-08 12:34] aslakknutsen opened #274 "Work Item Field Edit stays in Edit mode when swapping between Work Items (Desktop)"
## Reproduce

* Go to http://demo.almighty.io/work-item-list/detail/47
* Click edit Title
* Select another work item from the list behind the slide

## Expected Result

* The title field is displayed normally on the newly selected item

## Actual Result

* The title field is still in edit mode on the newly selected item

[2016-11-08 12:36] aslakknutsen opened #275 "Warning on decoding fonts from demo.almihgty.io"
[code]

Not observed on local dev build, so probably related to prod build or nginx serving.

[2016-11-08 12:42] aslakknutsen opened #276 "WorkItemTypes API is called twice during first detail view"
## Reproduce

* Open http://demo.almighty.io/work-item-list/detail/50

## Expected result

* WorkItemTypes API called once with Auth

## Actual Result

* WorkItemTypes API called twice, once _without_ Auth and once _with_ Auth

[2016-11-08 14:56] sanbornsen commented on #276
I did it purposely, thinking we'll have separate API endpoints for status and types in future. So, I have two separate functions written, even though the response currently have both the data.

[2016-11-08 14:59] mindreeper2420 opened #278 "Outline Around Description Field"
According to the [Visual Design](https://redhat.invisionapp.com/share/ZE991DOJ6#/195986245_A-0400-Details_Panel), there should not be an outline of the Description field, unless it is in the active/edit state.

![descriptionoutline](https://cloud.githubusercontent.com/assets/4032718/20103930/db9324d6-a599-11e6-8c1b-bdf1e6c68427.png)

[2016-11-08 15:08] mindreeper2420 opened #279 "Active State Identifiers"
According to the Visual Design, the active state of an input should be represented by a light blue border with light blue shadowing. Currently, there is an inconsistency between the Title and Description regarding this visual.

* Visual Design for Title
![item details - update 2x](https://cloud.githubusercontent.com/assets/4032718/20104100/abf6756a-a59a-11e6-82ec-3418a5ba378e.png)

* Visual Design

[2016-11-08 15:10] sanbornsen commented on #278
Then where do we fit the edit icon? We don't have the border if you are not logged in.

[2016-11-08 15:14] mindreeper2420 commented on #278
@sanbornsen the edit icons only appears when you are editing the field. There should be a set of hover interactions/visuals around inputs on desktop.

Visuals: https://redhat.invisionapp.com/share/DF8ZQ11R7#/195933772_A-0500-Description_-_Hover

[2016-11-08 15:17] mindreeper2420 opened #280 "Scrolling of List in Mobile Detail View"
When viewing the Detail View on mobile, you can still scroll the list view. If you scroll fast enough, the items 'behind' the Detail View become visible.

[2016-11-08 15:24] sanbornsen commented on #278
Okay, so tell me if I am wrong :

- User hovers over the description.
- A border with that edit icon appears.
- Clicking on the box or the edit icon would make the border highlighted with light blue.
- And user can edit.

[2016-11-08 15:31] mindreeper2420 commented on #278
@sanbornsen correct 👍

[2016-11-08 15:34] mindreeper2420 commented on #274
This also occurs with the Description field.

[2016-11-08 19:43] ldimaggi opened #281 "Please add an ID to the assignee in the work item detail page"
[code]

Can we add an "id=" to this web UI element? Thanks!

[2016-11-09 03:57] joshuawilson commented on #172
PR was merged, so I'm closing this.

[2016-11-09 03:57] #172 closed

[2016-11-09 05:26] nimishamukherjee commented on #139
Closing this task as converting the current form to Angular form does not add/enhance any value/benefit.

[2016-11-09 05:26] #139 closed

[2016-11-09 05:37] nimishamukherjee commented on #210
PR #263 merged. The details view contains unit tests which check for logged in and logged out scenario.

[2016-11-09 05:37] #210 closed

[2016-11-09 07:03] naina-verma opened #283 "No Character limit/Wordwrap on edit for title of workitem :: Firefox"
No Character limit for title , due to long title of workitem display page goes to long scroll.
It should show word wrap it edit/view mode. Because for long title user need to scroll right to extreem right end
![screenshot from 2016-11-09 12-31-54](https://cloud.githubusercontent.com/assets/19172870/20129810/877624a4-a678-11e6-8731-d83063ddb164.png)
![screenshot from 2016-11-09 12-36-57](https://cl

[2016-11-09 08:03] nimishamukherjee opened #284 "Display current assignee on the work item detail view"
Display the current assignee on the work item detail view page (https://github.com/almighty/almighty-core/issues/341)

[2016-11-09 08:07] nimishamukherjee opened #285 "Create a service to fetch the list of users from core"
Story reference - https://github.com/almighty/almighty-core/issues/341
Create a service to fetch the list of users from core.
This service will be called only once when the app loads.

[2016-11-09 08:10] nimishamukherjee opened #286 "Update work item service to set system.assignee to selected UUID or null"
Story reference - https://github.com/almighty/almighty-core/issues/341
Update work item service to set system.assignee to selected UUID or null
Assumption: Assign and Unassign one users at a time

[2016-11-09 08:17] nimishamukherjee opened #288 "Develop the UI for setting/unassign a user as assignee"
Story reference - https://github.com/almighty/almighty-core/issues/341

On the work item's detail page, the user should be able assign and unassign a user as the assignee.

Mobile wireframe - https://redhat.invisionapp.com/share/838XGP02H#/screens
Desktop wireframe - https://redhat.invisionapp.com/share/2D92EG6BH#/screens/199589080_AssignSimple-DT-001

[2016-11-09 08:25] sanbornsen commented on #278
@mindreeper2420 I have made the changes, but did you consider the mobile scenario? Because there is no hover in mobile. So, first two point in the flow I had confirmed in the last comment, i.e.
* User hovers over the description.
* A border with that edit icon appears.
will not be there in mobile.

[2016-11-09 08:36] sanbornsen commented on #279
@mindreeper2420 I believe this issue is just to change the color of title field's bottom border to light blue from black.

[2016-11-09 09:25] harrybabu opened #289 "Display the list of associated work items for a selected work item"
Story reference - https://github.com/almighty/almighty-core/issues/306

Display the list of associated work items for a selected work item

[2016-11-09 10:01] harrybabu opened #290 "Navigating from one associated work item to another"
Story reference - https://github.com/almighty/almighty-core/issues/306

[2016-11-09 10:02] harrybabu opened #291 "Delete associated work items"
Story reference - https://github.com/almighty/almighty-core/issues/306

[2016-11-09 10:29] naina-verma opened #292 "Automate Test cases for workItemTypes"
Automate Test cases for workItemTypes ,Functional  UI test for different workitemtypes
- experience
- user story
- valuepropostion
- fundamental
- feature
- Bug

[2016-11-09 13:19] sanbornsen commented on #45
Yes, hence closing it.
Here is the PR in UI -  https://github.com/almighty/almighty-ui/pull/250

[2016-11-09 13:19] #45 closed

[2016-11-09 13:27] naina-verma commented on #283
@sanbornsen , this issue reproduced in Firefox browser only (chrome is fine)

[2016-11-09 14:06] sanbornsen commented on #283
@SMahil can you please take a look on it?

[2016-11-09 15:20] mindreeper2420 commented on #278
@sanbornsen
* Yes, mobile was considered with the lack of hover, but the nature of mobile usage does not mandate any kind of action around that. We are actively working on methods for giving visuals queues for editable fields on mobile.

* Correct, that is not there on mobile, due to spacing constraints.

[2016-11-09 16:18] pmuir opened #293 "Add top level navigation tabs"

[2016-11-09 16:37] pmuir opened #295 "Implement Home Wireframe"

[2016-11-09 16:38] pmuir commented on #295
Will do this afternoon.

[2016-11-09 21:09] mindreeper2420 commented on #279
@sanbornsen This is to change the border color, add the proper shadowing and making sure that the font sizes/typography stays consistent. It is also the make sure that the hover styles, as dictated in the visual design, are met.

An additional item I noticed is that when the Title is in an active/editable state, the font size increases and the weight increases. This is not the case in the visual d

[2016-11-10 03:43] #274 closed

[2016-11-10 05:34] nimishamukherjee commented on #195
@ldimaggi could you check @mindreeper2420 's comment?

[2016-11-10 06:19] sanbornsen commented on #285
I am waiting for this issue in core to be completed - https://github.com/almighty/almighty-core/issues/467

[2016-11-10 12:23] #278 closed

[2016-11-10 13:39] aslakknutsen opened #301 "Edit Work Item Description is all screwy"
See https://www.youtube.com/watch?v=KkydUrtte1w

* Loose focus at random
* Re-formats the text
* Not expecting space-enter for newline in this type of text area

[2016-11-10 15:06] ldimaggi opened #302 "Workitem detail page, description edit icon - is this needed?"
The behavior of the detail page description edit UI element just changed - it has previously required the user to click on the edit icon before he/she could edit the description. As of this morning, the user can click on the description and skip clicking on the edit icon.

Questions:
* Is this change intentional and permanent?
* If the user does not have to click on the edit icon, why do we includ

[2016-11-10 15:23] mindreeper2420 commented on #288
The wireframes have been updated with a simplified version that will fit within this Sprint cycle. Please use these as the primary reference:

[Desktop](https://redhat.invisionapp.com/share/UT99VRINZ#/203937099_AssignUser_-_001)
[Mobile](https://redhat.invisionapp.com/share/RZ99VR9B9#/203654292_1)

Also, the UXD Issue is located here: https://github.com/almighty/almighty-ux/issues/53

[2016-11-10 19:54] ldimaggi commented on #195
This is now working in the UI - closing - thx!

[2016-11-10 19:54] #195 closed

[2016-11-10 20:04] joshuawilson commented on #302
@almighty/uxd Can you please provide direction here?

[2016-11-11 02:21] joshuawilson opened #303 "Log out based on time out is only partially working"
I just saw the UI display a confused state of partially being logged in while the login had actually timed out. A part of it thought I was still in and when it tried to contact the backend it realized I wasn't. Something didn't get cleaned.

I think to test it we need to change the logout time out to 30 sec and see what happens.

If I see it again, I'll take a screen shot.

[2016-11-11 05:01] nimishamukherjee commented on #281
PR #297 merged hence closing this issue.

[2016-11-11 05:01] #281 closed

[2016-11-11 05:40] #280 closed

[2016-11-11 07:08] #293 closed

[2016-11-11 08:28] naina-verma opened #305 "Description text box doesn't appear on detail page when "no description" for workitem"
Description text box doesn't appear on detail page when "no description" for workitem
When there is no description for a workitem , description box no appear on screen (when you click on details view page).
Expected : Description text box should be visible on detail page
Actual: Its hidden When there is no description and appear if you click on that area
![screenshot from 2016-11-11 13-51-37](http

[2016-11-11 09:59] tsmaeder opened #306 "Work Item Details Slide-in Animation too slow"
How to reproduce:
1. Go to the "Work" tab
2. Observe: you see a list of work items
3. Click on a work item
4. Observe: a details view of the work item slides in from the right. The slide-in animation takes about 0.8 seconds to complete. That is enough time that it feels like I have to wait for it.

My expectation would be that the animation is no longer than 0.3 secs.

Fedory 24, Firefox 49.0

[2016-11-11 14:01] nimishamukherjee opened #309 "Two scrollbars are seen on the work item list page"
Two scrollbars are seen on the work item list page - http://demo.almighty.io/work-item-list
![twoscrollbars](https://cloud.githubusercontent.com/assets/1892722/20217313/4d40f268-a845-11e6-913f-0567848b6dda.png)

[2016-11-11 14:07] almightytest opened #310 "WorkItem Id shows as random number"
WorkItem Id shows as random number
I come across a interesting issue, while running automation.The WorkItem Id shows as random number when we hit enter and save title.Well this is not reproduced without automation. I will update issue once its reproduced without automation,
screenshot attached.
![screenshot from 2016-11-11 13-54-11](https://cloud.githubusercontent.com/assets/23330096/20217546/4987

[2016-11-11 15:34] mindreeper2420 opened #311 "Edit Icon Persistent on Title Field"
The Title field should have the same interaction as the description now does in production (11/11/16 @ 10:32am EDT). I.E. the icon appears on hover over the title, indicating that it is editable. The icon should not be persistent, as it takes up unnecessary space and is not consistent with the designs.

<img width="369" alt="screen shot 2016-11-11 at 10 33 43 am" src="https://cloud.githubuserconte

[2016-11-14 16:10] #305 closed

[2016-11-15 09:13] naina-verma commented on #292
Test cases : https://github.com/almighty/almighty-ui/pull/315

[2016-11-15 09:34] naina-verma opened #316 "Functional tests for workItem state UI"
Functional tests for workItem state UI:
- New
- Open
- Inprogress
- Resolved
- Closed

[2016-11-15 16:50] nimishamukherjee commented on #306
@almighty/uxd could you please review and recommend on this issue.

[2016-11-15 16:52] nimishamukherjee commented on #244
The UI has been updated. State icon is an icon on the left of the title.

[2016-11-15 16:52] #244 closed

[2016-11-15 16:56] nimishamukherjee commented on #276
PR #299 merged hence closing this issue.

[2016-11-15 16:56] #276 closed

[2016-11-16 08:32] nimishamukherjee commented on #311
Pr #318 merged hence closing this issue.

[2016-11-16 08:32] #311 closed

[2016-11-16 20:53] ldimaggi opened #319 "Investigate PhantomJS failures that are not seen with Chrome/Firefox - Replace PhantomJS with (headless/Xvfb) Chrome/Firefox in functional tests"
See:  https://github.com/almighty/almighty-ui/pull/315#issuecomment-261056870

We are seeing some issues with PhantomJS not being able to access UI elements that can be accessed by Chrome/Firefox. So far, we have been able to work around these issues.

[2016-11-16 21:29] mindreeper2420 commented on #302
@ldimaggi @joshuawilson This change is intentional. The user can edit either the Description or Title by clicking on the text itself. The edit icon (pencil) is an identifier once the field is in an edit state, so that the user knows they are editing the field.

The edit icon should not always be present, which I believe is part of the confusion.

Here are links to the correct views:
- [Detail Pane

[2016-11-17 07:18] naina-verma commented on #316
#321 PR for this issue

[2016-11-17 09:40] nimishamukherjee commented on #222
PR #233 merged hence closing this task.

[2016-11-17 09:40] #222 closed

[2016-11-18 05:32] nimishamukherjee commented on #261
@naina-verma can you verify this.

[2016-11-18 05:38] naina-verma commented on #261
@SMahil ,LGTM
Verified on Firefox and Chrome !

[2016-11-18 06:03] sanbornsen commented on #261
Wasn't it solved long time back?

[2016-11-18 06:04] nimishamukherjee commented on #261
Thanks @naina-verma . Closing this issue as PR #322 merged.

[2016-11-18 06:57] nimishamukherjee commented on #40
@joshuawilson / @michaelkleinhenz what needs to be done here?

[2016-11-18 07:01] nimishamukherjee commented on #71
@michaelkleinhenz / @joshuawilson can we close this? We have the frame in place. The new header, menu, and footer could be a new story?

[2016-11-18 09:59] nimishamukherjee commented on #309
@almighty/uxd is it okay to have two scrollbars?

[2016-11-18 10:16] sanbornsen commented on #301
@aslakknutsen good catch. Review #325 and see if it fixes this.

[2016-11-18 10:16] nimishamukherjee commented on #279
@mindreeper2420 can you confirm the visual design URL. We followed https://redhat.invisionapp.com/share/M896L20V2#/screens/201494154 (got this link from Brian's email sent to almighty-public list)
This did not have the shadow for the header. Also it did not capture the title edit behaviour.

Can you confirm if we can go ahead with the changes you have mentioned above?

[2016-11-18 11:50] #301 closed

[2016-11-18 12:31] nimishamukherjee commented on #261
PR #323 merged. Hence closing this issue.

[2016-11-18 12:31] #261 closed

[2016-11-18 12:45] nimishamukherjee commented on #283
@naina-verma can you verify if this has been fixed?

[2016-11-18 14:44] mindreeper2420 commented on #309
@nimishamukherjee there should be just one scrollbar. The list should not have it's own scrollbar.

[2016-11-18 14:50] mindreeper2420 commented on #279
@nimishamukherjee what are you referring to with 'shadow for the header'?

The title edit behavior is the same (minus the complete box surrounding the text) as all of the other edit inputs. The pattern shown for the edit description is the pattern for all edits (see PatternFly as well for how edit visuals are handled).

http://www.patternfly.org/pattern-library/forms-and-controls/forms/#_design

[2016-11-18 15:38] nimishamukherjee commented on #279
@mindreeper2420 thanks for the PatternFly link. I will update the title text accordingly.

In the above mobile image, the detail panel header (close icon, type, and save icon) has a box shadow, I was referring to that.
In your earlier comment you has mentioned - sanbornsen This is to change the border color, add the proper shadowing and making sure .....
I assumed proper shadowing was referring to

[2016-11-20 08:23] naina-verma commented on #283
LGTM! verified

[2016-11-21 05:48] naina-verma commented on #316
#328 updated branch for this task

[2016-11-21 06:52] naina-verma opened #329 "Planner items dropdown should be in readonly mode without login"
Planner items dropdown should be in readonly mode without login
I have checked in chrome and firefox , Workitem type / Planner items dropdown slide down when user is not logged In.
![screenshot from 2016-11-21 12-19-25](https://cloud.githubusercontent.com/assets/19172870/20473215/2ac1eec0-afe5-11e6-8d80-809ce02d160d.png)

[2016-11-21 06:54] naina-verma opened #330 "WorkItem type dropdown shows up an extra label "planneritem""
WorkItem type dropdown shows up an extra label "planneritem"
![screenshot from 2016-11-21 12-22-58](https://cloud.githubusercontent.com/assets/19172870/20473251/643f6a56-afe5-11e6-9cbf-15755cdef240.png)

[2016-11-21 09:13] tsmaeder commented on #330
This is related to https://github.com/almighty/almighty-core/issues/492

[2016-11-21 17:58] sanbornsen commented on #283
Looks all good and verified, hence closing this.

[2016-11-21 17:58] #283 closed

[2016-11-21 21:27] #71 closed

[2016-11-21 21:33] joshuawilson commented on #40
It appears to work for now, if there are questions or issues related to this please open the issue again. Closing.

[2016-11-21 21:33] #40 closed

[2016-11-22 06:27] naina-verma commented on #230
@ldimaggi / @joshuawilson ,
For login functionality we need almighty-core running in the background ,otherwise user cannot authenticate through the localhost:8080/app/login ,because localhost:8080 is not running.
Thoughts !!

[2016-11-22 10:07] naina-verma opened #335 "Functional tests for unauthenticated user"
Functional tests for unauthenticated user
- Test if user is not authenticated can view almighty in read only
- Test Quick add work item should not be visible
- Test user should not be able update the work item type
- Test user should not be able to update the work item state
- Test user should not be able to Delete any work item

[2016-11-22 14:12] joshuawilson opened #336 "Duplicate IDs in work-item-details"
The ID wi-detail-desc is duplicated and should be unique in work-item-detail.component.html.

[2016-11-22 14:16] ppitonak commented on #230
There was a discussion about this topic some time ago... the idea is to create two sets of tests, one with fake login service and another one with real almighty-core and real Github account. You should start with fake one as it should be enough for majority of UI tests.

[2016-11-22 15:11] ldimaggi commented on #230
It's actually getting more complicated than that. We will likely have the
end-to-end tests exercise the core+UI together, and fully simulate a
(human) user's actions through the UI.

The UI tests will change to focus on the operation of the UI itself - and
how the UI generates requests containing JSON that are sent to the core.

Stay tuned!

On Tue, Nov 22, 2016 at 9:16 AM, Pavol Pitonak <notifica

[2016-11-22 18:43] #284 closed

[2016-11-22 18:43] #285 closed

[2016-11-22 18:43] #286 closed

[2016-11-22 18:43] #288 closed

[2016-11-22 18:49] sanbornsen commented on #171
Last PR regarding this is merged - https://github.com/almighty/almighty-ui/pull/324
Hence closing the issue.

[2016-11-22 18:49] #171 closed

[2016-11-22 18:54] mindreeper2420 opened #337 "Bug: 'Work' is not highlighted as active tab when site loads."
As the 'Work' page is the default screen for when a user visits demo.almighty.io, it should be highlighted. Currently, it is not highlighted unless the user visits another page and then returns to the 'Work' page.

Current Behavior on Initial Load:
![screen shot 2016-11-22 at 1 46 51 pm](https://cloud.githubusercontent.com/assets/4032718/20537369/e787e9e4-b0ba-11e6-93cd-22f246986424.png)

Expected

[2016-11-22 18:57] mindreeper2420 opened #338 "Bug: Remove Description from List View"
Per UX Designs, there should not be a description in the list view.

UX Visual Design: https://redhat.invisionapp.com/share/T89G321KQ#/195933683_A-0100

**Incorrect View:**
![screen shot 2016-11-22 at 1 56 09 pm](https://cloud.githubusercontent.com/assets/4032718/20537523/73c08880-b0bb-11e6-802d-8dc55fdd8ea0.png)

**Correct View:**
![screen shot 2016-11-22 at 1 56 43 pm](https://cloud.githubuserco

[2016-11-23 01:59] nimishamukherjee commented on #158
Closing as the list has been completed.

[2016-11-23 01:59] #158 closed

[2016-11-23 02:05] nimishamukherjee commented on #279
PR #334 merged. Closing this issue.

[2016-11-23 02:05] #279 closed

[2016-11-23 04:16] sanbornsen opened #341 "User assignee list design is broken if there is no name for the user"
This is a very rare case scenario, but if there is no name for an user the design is broken.

<img width="270" alt="screen shot 2016-11-23 at 9 42 22 am" src="https://cloud.githubusercontent.com/assets/2410474/20551030/a1fa0928-b161-11e6-857e-b3a7eedb5685.png">

[2016-11-23 04:17] sanbornsen opened #342 "User assignee mobile view is broken"
<img width="361" alt="screen shot 2016-11-23 at 9 43 34 am" src="https://cloud.githubusercontent.com/assets/2410474/20551040/c37592ac-b161-11e6-8916-d422e3db6cd9.png">

[2016-11-23 12:40] naina-verma commented on #335
#345 PR is linked to this !

[2016-11-23 14:28] naina-verma commented on #316
#328 , Merged. Closing !

[2016-11-23 14:28] #316 closed

[2016-11-23 14:46] ppitonak opened #346 "Improve test coverage of AlmSearchHighlight pipe"
New unit tests for AlmSearchHighlight should be created:

- should work when first parameter is an empty string
- should work when second parameter is an empty string
- should work when highlighting special characters such as !@#$%^&*()_+{}[]"|,./<>?`~

I'm not sure what should happen when search pattern contains only white spaces. Now it does following which doesn't feel right:

[code]

[2016-11-23 15:25] ppitonak opened #347 "Create unit tests for authentication service"
There is not a single test for authentication service

[2016-11-24 05:51] pranavgore09 opened #348 "Use new WI-Update api ie. PATCH=/api/workitems/WI_ID"
Currently UI uses non-jsonapi to update work item.
Instead, it should consume jsonapi based API to update work item once [core#482](https://github.com/almighty/almighty-core/pull/482) is merged to master.

It allows to patch the work item, only modified attributes should be sent in payload.
It uses relationships and attributes to update contents.
Example payload-
[code]
From above payload followin

[2016-11-24 06:07] SMahil opened #349 "Convert px units to rem for Global sizing and em for Local sizing"

[2016-11-24 08:32] baijum opened #350 "Display the created date & time on the work items"
As part of the "Date / Timestamp on new Work Items " story: https://github.com/almighty/almighty-core/issues/499 the UI should display the created date & time on the work items

[2016-11-24 08:38] baijum opened #351 "Display story creator on new work items"
As part of "Story Creator (User) on new Work Items" story: https://github.com/almighty/almighty-core/issues/500 the UI should display the creator name on the work items.

[2016-11-24 08:55] nimishamukherjee opened #352 "Dialog-based creation of work items"
Develop the UI for dialog-based creation of work Items - https://github.com/almighty/almighty-core/issues/501

[2016-11-24 09:23] nimishamukherjee commented on #341
PR #343 merged. Issue resolved, hence closing the bug.

[2016-11-24 09:23] #341 closed

[2016-11-24 09:23] nimishamukherjee commented on #342
PR #343 merged. Issue resolved, hence closing the bug.

[2016-11-24 09:23] #342 closed

[2016-11-24 09:25] nimishamukherjee commented on #309
PR #333 merged. Issue resolved, hence closing the bug.

[2016-11-24 09:25] #309 closed

[2016-11-24 09:29] nimishamukherjee opened #353 "Font Awesome does not work on production"
Font Awesome does not work on production

[2016-11-24 10:51] DhritiShikhar opened #355 "Support Order of Execution"
As a part of the User Story "Order of Execution for the Work Item List" (https://github.com/almighty/almighty-core/issues/318), the UI should support design to change the order of workitems.

NOTE: This should be without drag-and-drop

[2016-11-24 14:27] ppitonak opened #356 "Logout doesn't work properly"
Auth token is not invalidated when user logs out using UI

1. open demo.almighty.io, login and open console
2. in console: `let auth_token = localStorage.getItem('auth_token')`
3. log out using link in top-right corner
4. in console: `localStorage.setItem('auth_token', auth_token)`
5. refresh the page
6. create new item using quick add component

[2016-11-25 11:09] naina-verma opened #357 ""<" is taken as incomplete HTML tag for create/update workitem"
"<" and ">" is taken as incomplete HTML tag for create/update workitem
Step to reproduce

- Create / update the workitem with "<",">" and save
- Next time when you go to update title/Description it doesnot shows up as expected
![screenshot from 2016-11-25 15-21-52](https://cloud.githubusercontent.com/assets/19172870/20623383/4cc60eca-b32d-11e6-869c-9e2f113b808b.png)
![screenshot from 2016-11-25 15

[2016-11-25 14:21] ppitonak opened #358 "Incorrect linting warnings"
When you run `npm run lint` it shows 2 warnings that are not valid

[code]

Upgrading `codelyzer` from 1.0.0-beta.3 to 1.0.0-beta.4 fixes the issue.

[2016-11-26 07:21] joshuawilson commented on #358
I would like to know if you use the latest from master and run "npm run reinstall" do you still get these warnings? I don't see them.

[2016-11-26 07:24] joshuawilson commented on #302
@ldimaggi do you require a change or can we close this?

[2016-11-26 07:26] joshuawilson commented on #310
@naina-verma @ldimaggi Where you able to reproduce this?

[2016-11-26 07:27] joshuawilson commented on #230
@naina-verma is this completed?

[2016-11-26 21:57] joshuawilson commented on #355
@DhritiShikhar why did you create this issue? Why did you assign it to the next sprint before we voted on the stories of the that sprint?

[2016-11-27 05:41] joshuawilson commented on #130
@michaelkleinhenz what are you looking for here?

[2016-11-27 05:44] joshuawilson commented on #147
@naina-verma @michaelkleinhenz  Can we close this?

[2016-11-27 05:46] joshuawilson commented on #182
@nimishamukherjee can you please work with @mindreeper2420 to verify what still needs to be done for this.

[2016-11-27 05:47] joshuawilson commented on #201
@ldimaggi is this something you still plan to work on?

[2016-11-27 05:50] joshuawilson commented on #212
@sanbornsen @mindreeper2420  what is the status of this?

[2016-11-27 05:52] joshuawilson commented on #289
@harrybabu if you are working on this, you should assign it to your self.

[2016-11-27 05:53] joshuawilson commented on #290
@harrybabu if you are working on this, you should assign it to your self.

[2016-11-27 05:53] joshuawilson commented on #291
@harrybabu if you are working on this, you should assign it to your self.

[2016-11-27 05:53] joshuawilson commented on #206
@harrybabu should this be assigned to your or is someone else doing this?

[2016-11-27 05:53] joshuawilson commented on #207
@harrybabu should this be assigned to your or is someone else doing this?

[2016-11-27 05:59] joshuawilson commented on #347
@ppitonak I think @naina-verma just wrote some Functional tests on this. Do they satisfy this issue?

[2016-11-27 06:00] joshuawilson commented on #346
@sanbornsen I think this is for you. Maybe @naina-verma and @ldimaggi could help.

[2016-11-27 06:01] mindreeper2420 commented on #212
@joshuawilson not sure what I can do in regards to this particular issue, as it relates to an error in the code. If design can't be matched, might be better to open a separate issue.

[2016-11-27 06:01] joshuawilson commented on #338
@SMahil can you please look into this.

[2016-11-27 06:02] joshuawilson commented on #335
@naina-verma can we close this?

[2016-11-27 06:03] joshuawilson commented on #329
@sanbornsen @naina-verma is this fixed? Can we close this?

[2016-11-27 09:49] DhritiShikhar commented on #355
@joshuawilson i removed the milestone. sorry for the confusion.

[2016-11-27 20:08] ldimaggi commented on #201
Yes - we need to look t this in the 124 sprint - we want to be able to run tests against actual browsers in a headless configuration.

[2016-11-27 20:16] ldimaggi commented on #147
I'd like ti keep this open for a couple of more days - we can use a 48-hour deadline to get us to complete the definition of the configuration that we will want to use for the set-up of the automated end-to-End tests that we will build - especially in the context of the mocking layer that Michael has proposed for the UI tests.

[2016-11-27 23:44] ldimaggi commented on #302
This one can be closed - thx!

On Sat, Nov 26, 2016 at 2:24 AM, Joshua Wilson <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2016-11-27 23:51] ldimaggi commented on #358
This is what I'm seeing with the latest from master:

src/app/board/board.component.ts[16, 9]: missing whitespace
src/app/board/board.component.ts[28, 32]: missing whitespace
src/app/board/board.component.ts[29, 47]: missing whitespace
src/app/board/board.component.ts[29, 66]: missing whitespace
src/app/board/board.component.ts[29, 73]: missing whitespace
src/app/board/board.component.ts[29, 113]:

[2016-11-28 01:07] joshuawilson commented on #358
@ppitonak those all look normal to me. They need to be fixed in the code but not by upgrading the library, right?

[2016-11-28 01:07] #302 closed

[2016-11-28 05:21] naina-verma commented on #335
@joshuawilson , closing it ,as PR is merged.
Thanks

[2016-11-28 05:21] #335 closed

[2016-11-28 05:22] naina-verma commented on #292
closing issue as PR related to Task is merged.
Thanks

[2016-11-28 05:22] #292 closed

[2016-11-28 05:27] naina-verma commented on #310
@joshuawilson , yes its easy to reproduce by automation.

[2016-11-28 05:29] naina-verma commented on #230
@joshuawilson , we are in R&D for this issue , not yet complete.

[2016-11-28 06:28] sanbornsen commented on #357
<select></select>

[2016-11-28 06:45] sanbornsen opened #360 "Inclomplete li element in user assignee list :: design bug"
<img width="359" alt="screen shot 2016-11-28 at 12 13 33 pm" src="https://cloud.githubusercontent.com/assets/2410474/20658634/53fe7bee-b564-11e6-994f-5125712597d4.png">

[2016-11-28 07:07] SMahil commented on #360
Its just your OS issue. the empty space is normal scrollbar

[2016-11-28 07:10] SMahil opened #361 "Two borders are coming for assignee list while assigning user"
border-bottom dashed should not come for assignee list while assigning the user

<img width="328" alt="screen shot 2016-11-28 at 12 30 45 pm" src="https://cloud.githubusercontent.com/assets/10396359/20659150/caf79890-b567-11e6-8f13-f28555cf1781.png">

[2016-11-28 07:16] naina-verma opened #362 "To long horizontal scrollbar"
To long horizontal scrollbar
I have installed today's almighty-ui master , it shows up horizontal scrollbar more than expected design.
![screenshot from 2016-11-28 12-41-15](https://cloud.githubusercontent.com/assets/19172870/20659273/b18ef758-b568-11e6-8f67-beb75263f670.png)

[2016-11-28 07:18] naina-verma commented on #329
@joshuawilson , verified !!

[2016-11-28 07:18] #329 closed

[2016-11-28 07:21] naina-verma commented on #330
@tsmaeder , @sanbornsen ,
Now this extra label appears in some other index of drop down
![screenshot from 2016-11-28 12-50-13](https://cloud.githubusercontent.com/assets/19172870/20659381/455a6fc6-b569-11e6-8c00-60a016b9ad4a.png)

[2016-11-28 08:01] sanbornsen commented on #362
I think, we fixed it earlier. @SMahil can you have a look at it?
@naina-verma please specify the browser, if it's happening only on FF or Chrome.

[2016-11-28 08:16] #360 closed

[2016-11-28 09:28] sanbornsen commented on #356
@ppitonak yes, we don't have expiration in backend right now. Your steps would clearly make the user logged in again. In order to fix this we need to have an endpoint where we can expire the token from backend itself on login.
@aslakknutsen what do you think?

[2016-11-28 09:59] michaelkleinhenz commented on #130
I think we can close this now as this was done implicity in several other stories and is already done.

[2016-11-28 09:59] #130 closed

[2016-11-28 11:10] SMahil commented on #362
sure @sanbornsen

[2016-11-28 11:16] naina-verma commented on #362
@sanbornsen , @SMahil , its not reproduced now !
Closing issue

[2016-11-28 11:16] #362 closed

[2016-11-28 11:17] ppitonak commented on #347
@joshuawilson No, I believe that we should have some basic unit tests for AuthenticationService - this class contains 3 non-trivial methods with no docs and a lot of lines with commented code (mainly navigation).

[2016-11-28 11:23] ppitonak commented on #358
I removed `node_modules` and reinstalled all deps again and cannot reproduce the issue. Now I only see warnings listed by Len. Feel free to close both this issue and PR.

[2016-11-28 14:08] #358 closed

[2016-11-28 14:17] joshuawilson commented on #347
@nimishamukherjee @sanbornsen can you please look into this.

[2016-11-28 14:21] Mgranfie commented on #351
@nimishamukherjee Reporter Name + Avatar, as the "Creator" should both be displayed. For lack of a wireframe, in the vision based designs, there is an example of how these pieces will all fit together. I hope this helps. LMK any questions...
https://redhat.invisionapp.com/share/Z97SNZ1KY#/176876445_Small_Card_V8_Hover

[2016-11-28 15:08] #361 closed

[2016-11-28 17:27] #357 closed

[2016-11-28 21:06] mindreeper2420 opened #366 "Trademark Symbol"
The trademark symbol on the navigation item 'Hypothesis Engine' should use the HTML Name Code of `&trade;`. This will prevent any issues with the superscript positioning while using icons.

[2016-11-29 05:22] #353 closed

[2016-11-29 05:23] joshuawilson commented on #291
@harrybabu @mindreeper2420 is this done? Can we close this?

[2016-11-29 05:24] joshuawilson commented on #290
@harrybabu @mindreeper2420 is this done?

[2016-11-29 05:27] #237 closed

[2016-11-29 05:32] nimishamukherjee commented on #182
@joshuawilson tabbing needs to be implemented.

[2016-11-29 05:32] mindreeper2420 commented on #291
@joshuawilson. Unknown. There is no way for @almighty/uxd to verify this at the moment.

[2016-11-29 05:47] joshuawilson commented on #291
@mindreeper2420 sorry, I missed the word "associated". I was just thinking of deleting a workItem.

[2016-11-29 09:17] naina-verma opened #367 "Functional tests clean up for hidden Description feature"
Functional tests clean up for hidden Description feature, for List view page.
#365

[2016-11-29 09:42] nimishamukherjee opened #368 "Remove styles from index.html header"
PR #314 - the index.html has some styles in the header. This needs to be removed.

[2016-11-29 09:47] nimishamukherjee opened #369 "Create a work item link entry component"
PR #314 - Create a work item link entry component

[2016-11-29 11:49] naina-verma commented on #362
@sanbornsen , @SMahil , its not reproduced now !
Closing issue

[2016-11-29 13:48] aslakknutsen opened #370 "The AssignTo List is some times missing 'me'"
This is not directly a 'user is not signed in issue' since the navigation bar says 'logout' and the user is allowed to assign/edit the issue to begin with. Not sure how to reproduce it. (sporadically happens, possible related to some timeout?)

![screenshot from 2016-11-29 14-45-10](https://cloud.githubusercontent.com/assets/132158/20712021/ab4fb3e8-b642-11e6-9b0e-dd5cd3716ed3.png)

[2016-11-29 15:18] Mgranfie commented on #290
This was not a requirement that we designed for., so there is no current
solution designed out for this. We list the links but the navigation
between them was not addressed. I have created a story for our next sprint,
we do not have a resource to hop on this in this sprint.

-Monica

On Tue, Nov 29, 2016 at 12:24 AM, Joshua Wilson <notifications@github.com>
wrote:

[2016-11-29 21:34] #295 closed

[2016-11-29 21:35] #338 closed

[2016-11-29 21:38] joshuawilson commented on #88
@cdrage @kbsingh is this still an issue?

[2016-11-29 21:40] joshuawilson commented on #90
It has been added.

[2016-11-29 21:40] #90 closed

[2016-11-29 21:42] joshuawilson commented on #61
@sanbornsen @aslakknutsen is this still an issue?

[2016-11-29 21:43] joshuawilson commented on #52
@kbsingh is this complete now?

[2016-11-29 23:29] kbsingh commented on #88
unsure, we dont use docker-compose anywhere in the build/push scripts - so @cdrage / @pradeepto would need to confirm if they still see this issue.

[2016-11-30 01:12] joshuawilson commented on #366
@almighty/uxd can you please confirm with @qodfathr if we are going to keep the "TM" as I know the phrase existed as early as 2009.

[2016-11-30 01:13] mindreeper2420 opened #371 "Bug: Logged In User Icon Not Always Displayed"
When navigating to demo.almighty.io on a browser that I have already logged into the site with, my user icon does not appear in the top right, as expected. It only appears when I navigate away from the Work Item List and then navigate back to it.

<img width="1920" alt="screen shot 2016-11-29 at 8 10 59 pm" src="https://cloud.githubusercontent.com/assets/4032718/20735755/34f39056-b670-11e6-9b1a-ef

[2016-11-30 01:28] mindreeper2420 opened #372 "Bug: Newly Added Work Item Doesn't Show In List"
When I attempt to add a work item to the list, it does not appear. I am presented with the following information in my console:

<img width="1920" alt="screen shot 2016-11-29 at 8 28 08 pm" src="https://cloud.githubusercontent.com/assets/4032718/20736100/6e5f6d0e-b672-11e6-8ab0-2a9412b8a59a.png">

[2016-11-30 01:32] mindreeper2420 opened #373 "Bug: Quick Add Does Not Auto Focus on 1st Input"
When a user clicks 'Add Work Item', it should automatically focus on the Title input. The current iteration on demo.almighty.io does not do this.

<img width="1920" alt="screen shot 2016-11-29 at 8 29 18 pm" src="https://cloud.githubusercontent.com/assets/4032718/20736137/a886fdee-b672-11e6-9226-50bbf9d64180.png">

[2016-11-30 01:39] joshuawilson commented on #372
I think this has to do with the Order of the list and the lack of pagination.

[2016-11-30 01:40] mindreeper2420 commented on #372
Have restrictions already been added to the list size?

[2016-11-30 01:42] joshuawilson commented on #372
From the beginning the backend only returns a limited set of the data, if I understand correctly.

[2016-11-30 01:43] mindreeper2420 commented on #372
Gotcha, makes sense then. Wasn't sure what the logger message was all about, even after looking at it.

[2016-11-30 01:48] qodfathr commented on #366
It was just a joke. That tab isn't even part of the current UX plan. All of the names on the tabs, and the # of tabs, are just placeholders.

For now, we just need to work towards a set of "extensions" which are discovered at runtime and via their manifest/api/whatever provide a name to the system for display. Until we've got that, the "fake" placeholder tabs aren't too important (although having

[2016-11-30 01:49] mindreeper2420 opened #374 "Bug: Missing User in Assign User Search"
As a user logged into the system, I am unable to find myself by performing a search of the user list under the 'Assign User' feature in Work Item Detail.

<img width="966" alt="screen shot 2016-11-29 at 8 48 43 pm" src="https://cloud.githubusercontent.com/assets/4032718/20736544/3e4634ce-b675-11e6-8d7e-66db1dccacf1.png">

[2016-11-30 01:54] mindreeper2420 commented on #306
@tsmaeder @nimishamukherjee We have not worked on any animations to this point so no recommendations can be given, other than to follow whatever timing can be found within PatternFly's code. @almighty/uxd

[2016-11-30 01:58] joshuawilson commented on #374
Does your user name appear without filtering?

[2016-11-30 01:58] mindreeper2420 commented on #374
No, it does not.

[2016-11-30 01:59] joshuawilson commented on #370
I think I found out how to reproduce this.
If you add something via the quick add and then open an item and check the assignee, "me" is missing.

[2016-11-30 01:59] joshuawilson commented on #374
I think you may have duplicated #370

[2016-11-30 02:01] mindreeper2420 commented on #374
Possibly? That one looks like it is pointing out the missing 'Assign to Me' feature...?

[2016-11-30 02:06] joshuawilson commented on #374
I think they are. We can keep this open and just close both when it gets fixed.

[2016-11-30 05:58] sanbornsen opened #376 "Button or Menu to access the filter "assigned to me""

[2016-11-30 06:28] pranavgore09 opened #377 "Consume jsonapi based WorkItem List"
This task should integrate the work done in [core#528](https://github.com/almighty/almighty-core/issues/528).

Adapt the changes and read relationships to pick up `assignee` of WorkItem.

Display `assignee` in the list view as per [UX design](https://redhat.invisionapp.com/share/T89G321KQ#/195933683_A-0100)

[2016-11-30 06:42] SMahil commented on #371
@mindreeper2420 if u click on bell icon username and avatar are coming then

[2016-11-30 07:46] #87 closed

[2016-11-30 07:54] sanbornsen commented on #212
@mindreeper2420 @joshuawilson there are three options for this issue:

1. Fix the console error (Code change only)
2. Remove the "Change state" item from the list.
3. Complete "Change state" work flow. (We'd need the UX specification for that)

[2016-11-30 07:58] sanbornsen commented on #336
@joshuawilson there are on a logical condition. At a time the DOM will have only one of those elements.

[2016-11-30 08:01] sanbornsen commented on #346
Thanks @ppitonak. I'll work on that. And the output of the case you have mentioned, should be alright.

[2016-11-30 08:09] sanbornsen commented on #366
Can we close this for now, in that case?

[2016-11-30 08:11] nimishamukherjee commented on #356
Points to be noted:
1. The token needs to be stored locally until the user logs out. This is one of the UX requirements where the user remains logged in even if they close the browser.

2. The token is a Github token. The same token is generated based on who logs in. In this scenario, currently the core cannot invalidate the token.

@ppitonak @joshuawilson @aslakknutsen could you let us know on ho

[2016-11-30 08:12] nimishamukherjee commented on #368
@SMahil can you please check this?

[2016-11-30 10:09] naina-verma opened #378 "No validation message for "block to" with planneritem to planneritem"
No validation message for "block to" with planneritem to planneritem
There is no such validation for  that user cannot link planner item blocks to planner items.
API response :
{"errors":[{"code":"bad_parameter","detail":"Bad value for parameter 'source work item type': 'system.planneritem'","status":"400","title":"Bad parameter error"}]}
![screenshot from 2016-11-30 15-37-51](https://cloud.github

[2016-11-30 10:15] naina-verma opened #379 "Closed button should be replaced with toggle"
Closed button should be replaced with toggle,because when you click on close it hides all the linking div.
But still (close button) shows up, which gives an impression you can close it further.
![screenshot from 2016-11-30 15-41-19](https://cloud.githubusercontent.com/assets/19172870/20748320/b5f12b8e-b713-11e6-8273-3b09529b66fa.jpg)

[2016-11-30 12:36] harrybabu opened #381 "Removing workitem filter logic from FE"
Removing workitem filter logic from FE, to be fetched from the backend

[2016-11-30 12:54] mindreeper2420 commented on #212
@sanbornsen @joshuawilson - from a UX POV, there are no workflows for changing the state in the list view.

[2016-11-30 12:56] mindreeper2420 commented on #371
@smahil - my name did appear when I clicked that, but if I navigate away from the page and then back again, it appears without me clicking the bell. The inconsistency and just randomly clicking to find my name are what caused this to be filed.

Also, the bell is an alert or message icon, not a user profile icon.

[2016-11-30 13:17] qodfathr commented on #366
Fine with me to close.

[2016-11-30 13:20] naina-verma opened #382 "Functional test for item linking"
Automate Functional test for item linking

[2016-11-30 13:28] ppitonak commented on #201
Another option is to use services like SauceLabs

[2016-11-30 13:46] #366 closed

[2016-11-30 14:42] Mgranfie commented on #366
FYI... I will be updating the tab names this week.... and they will
probably continue to change... :)

On Wed, Nov 30, 2016 at 8:46 AM, Sudipta Sen <notifications@github.com>
wrote:

[2016-12-01 06:06] sanbornsen opened #384 "Filter UI based on Assignee"
Based on the status of the filter (assigned to me) button, some extra parameters need to be added with the workitem.2 API and get the filtered data and render it to the list.

[2016-12-01 06:08] sanbornsen opened #385 "Change / reset option to backlog of workitem list"
On resting the value of the filter (assigned to me) button the list should be reset to backlog.

[2016-12-01 06:40] sanbornsen opened #386 "Show the assignee on WI list"
Design for the task - https://redhat.invisionapp.com/share/T89G321KQ#/screens/195933683_A-0100

[2016-12-01 06:58] naina-verma opened #388 "Functional tests for Assign feature"
Automate Functional tests for Assign feature

[2016-12-01 08:09] nimishamukherjee opened #389 "Create detail view shared component"
Create detail view shared component.
As the dialog based work item creation requires all the fields from work item detailed view, we can create a shared detail component which can be used by the work item detail view and dialog based creation of work item.

[2016-12-01 08:17] nimishamukherjee opened #390 "Update existing detail view to use the shared detail view component"
Update existing detail view to use the shared detail view component, when viewing a work item's detail.

[2016-12-01 08:21] nimishamukherjee opened #391 "Create dialog based adding of work item"
Create dialog based adding of work item.
This page will have all the details that the work item detail's page will have.
UI will have a mechanism (this will be defined by UX) to launch this dialog.

[2016-12-01 08:28] tsmaeder opened #392 "Create a Dialog for Creating a Project"

[2016-12-01 08:31] tsmaeder opened #393 "Create Org Menu to List Projects"

[2016-12-01 08:55] harrybabu commented on #369
@nimishamukherjee why we need this?

[2016-12-01 08:57] harrybabu commented on #206
Done. Closing this as the code got pushed to master.

[2016-12-01 08:57] #206 closed

[2016-12-01 08:57] harrybabu commented on #207
Done. As the code got pushed to master

[2016-12-01 08:57] #207 closed

[2016-12-01 08:59] harrybabu commented on #291
Done. As code got pushed to master.

[2016-12-01 08:59] #291 closed

[2016-12-01 09:03] harrybabu commented on #289
Done. Closing this issue, As the code got merged to master.

[2016-12-01 09:03] #289 closed

[2016-12-01 09:03] harrybabu opened #394 "Filter Workitem search by workitem type"
Story reference - https://github.com/almighty/almighty-core/issues/306

Display the list of associated work items for a selected work item

[2016-12-01 09:19] sanbornsen commented on #371
@mindreeper2420 @SMahil it's nothing to do with the Bell icon. It's coming only after navigating for the first time, either clicking on the bell icon or any recent child link to the root. This is a bug. I fixed it and raised a PR, waiting for @joshuawilson to review. I must say, nice found @mindreeper2420 .

[2016-12-01 09:21] sanbornsen commented on #372
@joshuawilson @mindreeper2420 close this issue if we are gonna resolve it with order related work.

[2016-12-01 12:09] ppitonak commented on #138
Since https://github.com/almighty/almighty-core already uses Codecov.io, it should be relatively easy to setup. This is what needs to be done:

1. add `codecov` dev-dependency to `package.json`
2. create a new NPM script in `package.json` named e.g. "coverage:publish" and content `codecov`
3. publish code coverage results by adding `run run coverage:publish -- -t $VARIABLE_WITH_TOKEN` to `cico_bui

[2016-12-01 13:19] #370 closed

[2016-12-01 13:19] #374 closed

[2016-12-01 13:33] Mgranfie commented on #392
InVision Link:
https://redhat.invisionapp.com/share/UC96TAOWH

JIRA STORY:
https://patternfly.atlassian.net/browse/RHUAP-504

[2016-12-01 14:55] #138 closed

[2016-12-01 16:22] SMahil opened #402 "Match UI of Modal with Patternfly Design"
Match UI of Modal/Dialog as per the Patternfly Design:

https://www.patternfly.org/pattern-library/widgets/#modal

[2016-12-01 17:20] SMahil opened #404 "Remove custom classes and use bootstrap classes"
Remove extra classes (22 classes) and use bootstrap to achieve same

[2016-12-01 18:08] mindreeper2420 opened #406 "Bug: Viewing Related Work Items Throws Exceptions"
When clicking on 'Related planner item' in the Work Item Linking bar, an exception is thrown. The UI still displays the linking input option.

When I try to click on another item in the Work Item List, the URL changes (http://demo.almighty.io/work-item-list/detail/47 becomes http://demo.almighty.io/work-item-list/detail/256), but the UI does not show me the proper Work Item Detail information or h

[2016-12-01 18:09] mindreeper2420 commented on #406
Note - I have to refresh my screen in order for the exception to clear and continue to navigate through the work item list.

[2016-12-01 18:26] #371 closed

[2016-12-01 18:42] #394 closed

[2016-12-01 21:00] Mgranfie commented on #392
@nimishamukherjee @joshuawilson I mocked up the concept for create full new work item and posted to InVision.

Feel free to comment and lmk if you want to set up time to review. I know this was underway, so wanted to get out at least a high level concept to you.

https://redhat.invisionapp.com/share/Y39KFTAE7

[2016-12-01 21:08] #373 closed

[2016-12-01 21:12] joshuawilson commented on #356
@kbsingh do you have any insight into this?

[2016-12-01 21:14] joshuawilson commented on #369
@nimishamukherjee what are you asking for?

[2016-12-01 21:16] joshuawilson commented on #372
@sanbornsen I would prefer to not close a bug because we know we will fix it eventually. It should stay open as long as it is a bug. That allows others to find this bug some place to see that we know it exists and is being worked.

[2016-12-01 21:20] joshuawilson commented on #379
@almighty/uxd can you please look at this issue and advise.

[2016-12-02 02:19] sanbornsen opened #407 "Move the work item link service to work item service."
Currently we have a separate service for work item linking. Since we don't maintain services for sub component, we should move it to the existing work item service.

[2016-12-02 02:22] sanbornsen opened #408 "Make user list with search a separate component."
We have made a user list with search in work item details page for user assignee. We may have to use it in different places, so we should make a separate component out of it.

[2016-12-02 04:02] sanbornsen commented on #386
@mindreeper2420 @Mgranfie please verify https://youtu.be/WGl1QJm_8KA

[2016-12-02 05:56] joshuawilson commented on #408
You should also consider the new JSON API and how that will change User. Eventually we should search via the backend not a complete list of users in the UI.

[2016-12-02 05:57] joshuawilson commented on #407
OR we look at moving the Linking component out. Both options should be considered.

[2016-12-02 05:59] joshuawilson commented on #406
This was fixed in #403 and #405

[2016-12-02 05:59] #406 closed

[2016-12-02 06:01] joshuawilson commented on #402
This might be a great issue that can be broken out into smaller tasks. What do you think?

[2016-12-02 06:03] joshuawilson commented on #384
This might be a great issue that can be broken out into smaller tasks. What do you think?

[2016-12-02 06:09] joshuawilson commented on #392
@Mgranfie I think your last comment was added to the wrong issue. Can you please add it to #391

[2016-12-02 06:17] #336 closed

[2016-12-02 06:20] joshuawilson commented on #212
So the solution is simple then, remove it from the menu.

[2016-12-02 07:16] sanbornsen commented on #212
Cool !! I am on it.

[2016-12-02 07:39] harrybabu commented on #378
@almighty/uxd  can you please look at this issue and advise.

[2016-12-02 09:23] naina-verma commented on #388
#412 PR  related to this issue

[2016-12-02 14:10] #212 closed

[2016-12-02 14:40] Mgranfie commented on #393
@tsmaeder @joshuawilson Am not able to edit the story... attaching the link to the InVision wireframes.

New Project:
https://redhat.invisionapp.com/share/UC96TAOWH

[2016-12-02 19:07] ldimaggi commented on #319
See: #315 (comment)

Comments on the tests failing in the latest commit.

Overall, it looks like the workitem type pulldown implemented in the work item detail page does not behave as expected when the tests are run with PhantomJS in that the tests are not able to locate/access the values in the pulldown. The tests so not encounter these problems when run with FireFox or Chrome. I will open a sepa

[2016-12-02 19:30] ldimaggi commented on #147
If no one objects, I'm going to close this issue - and open up a new issue that will focus on the task of our creating the full stack/core test environment that we will require for EE/system tests. Thx!

[2016-12-02 19:30] #147 closed

[2016-12-02 19:38] ldimaggi opened #416 "Define full stack to support automated EE/system tests"
History from: https://github.com/almighty/almighty-ui/issues/147

Michael suggested:

I'd use Ansible and some simple build management like Grunt to do the following steps:

    Use Ansible to pull and start the database.
    Create the initial database schema and some predefined test data in it.
    Create configuration files and other needed volume contents for the application containers.
    Us

[2016-12-02 19:38] ldimaggi commented on #416
For the test setup - can we re-use what is currently in use for the production server?

[2016-12-02 19:39] ldimaggi commented on #416
From KB:

![7b9f10b0-8fcf-11e6-8315-d4ca3c4b3ba0](https://cloud.githubusercontent.com/assets/642621/20847664/1cff7b7a-b89d-11e6-97ec-46e0e3af724d.png)

[2016-12-02 22:43] ldimaggi opened #417 "On: http://demo.almighty.io/ - cannot add a link to a workitem"
See screencast:

https://dl.dropboxusercontent.com/u/12067552/Screencasts/Screencast%20from%2012-02-2016%2005%3A39%3A18%20PM.webm

[2016-12-04 05:14] sanbornsen opened #419 "Keydown enter makes a new line in the comment box then posts it"
After typing a comment, pressing enter gives a new line first and then posts the comment. To fix it, we have to prevent the default behavior of enter key down.

[2016-12-04 14:42] aslakknutsen opened #421 "PgDown/PgUp does not work on WorkItemList on initial load"
## Steps to reproduce

* Go to http://demo.almighty.io/work-item-list
* Press 'Page Down'

## Expected

WorkItemList to scroll down

## Actual

Nothing happens

## Possible solution

The WorkItemList component should have focus on initial load. That would allow keyboard events to work like normal. When a WorkItemDetail is open, the focus should shift to the Detail slide and allow PageDown to scrol

[2016-12-04 14:48] aslakknutsen opened #422 "The 'select' area is larger than 'click to open detail' area"
It's possible to click right at the beginning or at the end of the WorkItemList entry and achieve the 'Item' showing as 'selected', but not details being updated.

https://youtu.be/AMv7uMC8_ZM

[2016-12-05 05:29] joshuawilson commented on #417
@ldimaggi please do not assign people to issues to do that work. The person should assign themselves when they are ready to do it. This allows anyone to take on a task that is not yet assigned. If you want someone to know about this issue you can reference them in the comments.

I think this specific bug has to do with trying to link 2 things that are not allowed to be linked using the "blocks" li

[2016-12-05 08:53] naina-verma opened #425 "Select "planneritem" does not have icon,unable to modify WIT after selecting "planneritem""
Select "planneritem" does not have icon,unable to modify WIT after selecting "planneritem"
Steps to reproduce
- Select planneritme from WIT drop down
- close the detail view
- click on the same WI where you select "planneritem"
- Try to update WIT , unable to modify it.
![screenshot from 2016-12-05 14-19-48](https://cloud.githubusercontent.com/assets/19172870/20878634/0bb2015c-baf6-11e6-86e8-382df

[2016-12-05 10:22] sanbornsen commented on #182
Comment

[2016-12-05 12:06] SMahil opened #429 "Create HTML for project Wireframe"
This Issue consists of creating HTML for Projects.

Below is the list of all the associated sub-tasks for this:

1.https://github.com/almighty/almighty-ui/issues/444 - Dashboard Page
2.https://github.com/almighty/almighty-ui/issues/447 - Dashboard Page
3.https://github.com/almighty/almighty-ui/issues/456 - Dashboard Page
4.https://github.com/almighty/almighty-ui/issues/457 - Dashboard Page
5.https

[2016-12-05 13:19] ldimaggi commented on #417
Hey Josh,

+1 - I'll not assign bugs in the future.

I actually was not able to link those workitems using any type of link - so
there may be some additional issues lurking here...   ;-)

-- Len

On Mon, Dec 5, 2016 at 12:29 AM, Joshua Wilson <notifications@github.com>
wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell:

[2016-12-05 15:20] ldimaggi opened #430 "User should not be able to create duplicate/redundant links"
See attached screenshot - the user should not be able to create multiple duplicate links:

![screenshot from 2016-12-05 10-17-48](https://cloud.githubusercontent.com/assets/642621/20890318/66c4f1a2-bad4-11e6-905a-1554d690df65.png)

[2016-12-05 15:23] kwk commented on #430
Thank you for reporting this issue. I will address it.

[2016-12-05 15:24] ldimaggi opened #431 "Error message is not provided to user if an attempt is made to create an invalid link"
If a user attempts to create an invalid link, for example, a link that indicates that a workitem of type userstory is blocked by another work item of type userstory, the UI prevents ths user from creating this link, but the user is not provided with an error message that indicates why the link is not created when the user clicks on the link button. From user's perspective, the link button simply f

[2016-12-05 15:25] ldimaggi commented on #417
Closing this as a duplicate of:

https://github.com/almighty/almighty-ui/issues/431

[2016-12-05 15:25] #417 closed

[2016-12-05 15:30] ldimaggi opened #432 "Users should not be able to create self-referencing links"
See attached screenshot - users should not be able to create a link from a workitem to itself.

![screenshot from 2016-12-05 10-30-20](https://cloud.githubusercontent.com/assets/642621/20890708/d856a8a0-bad5-11e6-9452-4ae1cbbdcfb3.png)

[2016-12-05 15:47] ldimaggi opened #433 "Work item type change can create invalid link"
The enforcement rules for setting up links do not cover workitem type changes. For example:

- Create a workitem of type user story
- Create a workitem of type bug
- Set a link whereby the bug work item blocks the user story work item
- Change the type of the bug work item to user story
- The link remains in place

![screenshot from 2016-12-05 10-40-54](https://cloud.githubusercontent.com/assets/6

[2016-12-05 15:49] ldimaggi commented on #433
Sorry - this link is deleted when the work item is saved.

Can we add a warning message when the user changes the work item to a type that will invalidate the links?

[2016-12-05 15:59] ldimaggi opened #434 "Not possible to have work items of the same type linked via "relates to" link type"
At present, a user cannot link work items of type bug together via a "relates to" link type. I'd suggest that users always be able to link together work items of any type as "relates to." Is there a reason that we are blocking this link type? Thx!

[2016-12-05 16:27] #402 closed

[2016-12-05 16:30] SMahil commented on #402
Yes we can break it down.

[2016-12-05 16:30] Mgranfie commented on #433
That would be a great idea. A couple of solutions come to mind.

1.Check the link when the user clicks on the checkmark button?

the field is cleared or a valid link is entered.

2.  If we can detect an invalid link on typing into the field, we don't
enable the checkmark button until the link is valid and provides an inline
message to that effect under the field.

I have a password entry model in

[2016-12-05 16:31] Mgranfie commented on #432
That is correct, at this time, at least.

On Mon, Dec 5, 2016 at 10:30 AM, Len DiMaggio <notifications@github.com>
wrote:

[2016-12-05 16:36] Mgranfie commented on #422
I am not following your question here....? The blue is indicating selected
item, but I don't see this behavior in the video (which is a great tool to
communicate with!!) and I am not grasping the question....

Can you clarify for me?
Thanks,
Monica

On Sun, Dec 4, 2016 at 9:48 AM, Aslak Knutsen <notifications@github.com>
wrote:

[2016-12-05 16:37] Mgranfie commented on #421
Sounds like a solution to me. Even if I can't find page up and down on the
Mac!

On Sun, Dec 4, 2016 at 9:42 AM, Aslak Knutsen <notifications@github.com>
wrote:

[2016-12-05 17:01] sanbornsen commented on #422
This issue is blocked by an issue in the library we are using for dropdown.
https://github.com/pleerock/ng2-dropdown/issues/13

[2016-12-05 17:02] sanbornsen commented on #422
@Mgranfie try clicking at the edges of an item, it does select the item but it doesn't open the details page or change the url.

[2016-12-05 17:02] kwk commented on #433
Solving this on the database layer might also be an option so that a trigger function will be called `BEFORE` the update to the WI is made. The trigger function would then check if the update of the WIT violates any existing links.

[2016-12-05 17:11] kwk commented on #433
@ldimaggi What would you like to see? Shall an already existing link be automatically deleted, invalidated, rendered as invalid? See also https://github.com/almighty/almighty-core/issues/550

[2016-12-05 17:28] ldimaggi opened #436 "Search field in workitems links requires 2-chars in order to perform a search"
Is this intentional? The search field does not begin to perform searches until 2 characters (even if one of the characters is a space) are entered.

[2016-12-05 17:31] ldimaggi opened #437 "Search field in work item links is limited to [a-z][A-Z][0-9]"
The searching does not seem to recognize these characters:  !@#$%^&*(){}[], etc.

[2016-12-05 17:59] ldimaggi commented on #433
I would block the user from making a work item type change that would create a situation where either links are deleted or where links that cannot be created elsewhere in the UI are created. Can we warn the user and then have him/her delete the links before changing the work item type?

[2016-12-05 21:41] aslakknutsen opened #438 "WorkItem Links does not show up on when direct detail link is hit"
## Steps to reproduce

* Go to http://demo.almighty.io/work-item-list/detail/346
* No links are shown
* Select another WorkItem from the List
* Use back button to go back to the first WorkItem
* 64 links are shown (64 links are actually correct number according to DB)

Demo: https://youtu.be/sjAUbtMVrUM

[2016-12-05 21:42] joshuawilson commented on #438
@sanbornsen can you please take a look at this.

[2016-12-05 22:05] #368 closed

[2016-12-05 23:44] aslakknutsen opened #439 "WorkItem Link type pull down broken style in Firefox"
![screenshot from 2016-12-06 00-40-21](https://cloud.githubusercontent.com/assets/132158/20907197/104ed328-bb4d-11e6-9c26-d0e754de5fa9.png)

[2016-12-06 03:15] joshuawilson opened #440 "Fix the Lint warnings"

[2016-12-06 03:58] #258 closed

[2016-12-06 05:37] #440 closed

[2016-12-06 06:09] naina-verma commented on #388
#412 Merged

[2016-12-06 06:09] #388 closed

[2016-12-06 06:11] sanbornsen opened #442 "Update the WorkItem service / model to use the JSON API"

[2016-12-06 07:31] harrybabu opened #443 "Default icon for new work item types"
Adding default icon for new work item types

[2016-12-06 08:51] SMahil opened #444 "Add SubMenu for Organisation level Dashboard in Header"
Add SubMenu for Organisation level Dashboard in Header

[2016-12-06 10:35] sanbornsen opened #445 "Implement the partial WorkItem update feature"

[2016-12-06 13:07] Mgranfie commented on #433
I would agree with Len that prevention is a better path. We can use the
inline messaging, under the field to communicate out these message to the
user.

On Mon, Dec 5, 2016 at 12:59 PM, Len DiMaggio <notifications@github.com>
wrote:

[2016-12-06 13:10] ldimaggi commented on #433
"First, do no harm"   ;-)

Seriously, let's prevent the user from creating a broken link.

-- Len

On Tue, Dec 6, 2016 at 8:07 AM, MonicaGran <notifications@github.com> wrote:

--
Len DiMaggio (ldimaggi@redhat.com)
JBoss by Red Hat
314 Littleton Road
Westford, MA 01886  USA
tel:  978.392.3179
cell: 781.472.9912
http://www.redhat.com
http://community.jboss.org/people/ldimaggio

[2016-12-06 13:53] SMahil opened #447 "Add Welcome block in Org Dashboard - Projects"
Create HTML for Welcome block in Org Dashboard

[2016-12-06 14:37] ldimaggi opened #450 "Remove hardcoded references to ".2" API in services file"
See:

https://github.com/almighty/almighty-ui/blob/master/src/app/work-item/work-item.service.ts

[2016-12-06 16:05] #444 closed

[2016-12-06 18:12] ldimaggi opened #452 "Investigate fuzzing the UI for ALMighty"
https://testing.googleblog.com/2016/12/announcing-oss-fuzz-continuous-fuzzing.html

[2016-12-06 19:04] sanbornsen opened #453 "Fix improper data model for work item type"
We have an improper data model written for work item types in **src/app/work-item/work-item-type.ts** this file.

[2016-12-06 19:05] sanbornsen commented on #453
@nimishamukherjee can you verify and confirm?

[2016-12-06 19:12] sanbornsen commented on #453
So this model follows the data format from the response. Even though we are not using **fields** attribute anywhere, we should keep the model as per the response format for better understanding.

[2016-12-06 19:12] #453 closed

[2016-12-06 19:17] sanbornsen commented on #450
@ldimaggi once we migrate completely from **workitems** to **workitems.2** then the **workitems.2** will become **workitems**, so it's just a matter of time.

[2016-12-07 09:41] SMahil commented on #393
HTML for Org Menu : #444

[2016-12-07 09:43] SMahil commented on #393
@Mgranfie Please provide the mobile view design for Menu. Right Now Menu is breaking on mobile view

<img width="345" alt="screen shot 2016-12-07 at 3 13 17 pm" src="https://cloud.githubusercontent.com/assets/10396359/20962544/ba510c68-bc8f-11e6-95fc-b3a4eeda2083.png">

[2016-12-07 09:59] SMahil opened #456 "Create Recent Chats block in Org Dashboard"
Create Static HTML for Recent Chats Block in Org Dashboard

[2016-12-07 10:25] SMahil opened #457 "Create Recent Projects Block in Org Dashboard"
Create HTML for Recent Projects Block in Org Dashboard

[2016-12-07 10:26] SMahil opened #458 "Create News + Updates Block in Org Dashboard"
Create HTML for News + Updates Block in Org Dashboard

[2016-12-07 10:27] SMahil opened #459 "Create Resource Usage Block in Org Dashboard Page"
Create HTML for Resource Usage Block in Org Dashboard Page

[2016-12-07 10:50] sanbornsen commented on #381
This issue is depended on https://github.com/almighty/almighty-core/pull/525 this PR.

[2016-12-07 10:52] sanbornsen commented on #290
@Mgranfie @mindreeper2420 any update on this? Can we have a discussion?

[2016-12-07 10:59] sanbornsen opened #460 "Work item linking search should show valid result in the list"
Currently searching an work item to link, gives all the work items in the suggestion box that matches the string, but based the link type selected, some work items out of the list is not even valid as the for the link type's source - target relation.
Adding a filter based on the type, on search result would be a good way to do it.

[2016-12-07 11:07] sanbornsen commented on #376
Wireframe - https://github.com/almighty/almighty-ux/issues/55
Design - https://redhat.invisionapp.com/share/T79EF22F9#/screens/208756097_Fixed_Filter_-_000

[2016-12-07 11:28] naina-verma commented on #452
@ldimaggi , can we have some discussion for this task!

[2016-12-07 13:24] Mgranfie commented on #290
Hi Suidpta,

Konrad and I worked on this and if you check the comments on the story, the
history of the discussion and solutions should be there.

Any questions lmk.
Thanks,
Monica

On Wed, Dec 7, 2016 at 5:52 AM, Sudipta Sen <notifications@github.com>
wrote:

[2016-12-07 20:03] ldimaggi commented on #458
Will this be similar to the new displayed in DevStudio's "Red Hat Central?"

[2016-12-07 20:40] #425 closed

[2016-12-08 05:38] SMahil opened #464 "Bug: Remove Extra Padding from Work Item List"
Extra padding is there for Work Item List. Scroll is breaking because of padding

[2016-12-08 05:49] SMahil opened #466 "Bug: Remove padding-top from board component"
Need to remove padding-top from board component

[2016-12-08 05:55] SMahil opened #468 "Bug: when user is logged out, padding-bottom is there"
As padding moved to top level, at logged in user padding-bottom is still coming

[2016-12-08 06:13] #464 closed

[2016-12-08 14:30] ldimaggi opened #471 "Create page object model for new microservices ("intro") page."

[2016-12-08 18:12] ldimaggi opened #472 "Automated tests are not able to access new "intro" page"
What is the significance of the class=active element in the page link? Not sure if this is the cause of the problem:

[code]

The other pages do not include this class in their page link definitions - for example:

[code]

[2016-12-08 18:35] ldimaggi commented on #471
See:
https://github.com/almighty/almighty-ui/pull/473

[2016-12-08 18:35] ldimaggi commented on #471
Blocked by:
https://github.com/almighty/almighty-ui/pull/472

[2016-12-09 06:43] naina-verma opened #475 "Page object model for "project""
Page object model for "project"

[2016-12-09 06:44] naina-verma opened #476 "Automated tests for "project" feature"
Automated tests for "project" feature

[2016-12-09 06:45] naina-verma opened #477 "Create page object model for CreateDate/Timestamp"
Create page object model for CreateDate/Timestamp

[2016-12-09 06:46] naina-verma opened #478 "Automated tests for CreateDate/Timestamp"
Automated tests for CreateDate/Timestamp

[2016-12-09 09:32] naina-verma opened #479 "Added page object model for Comments feature"
Added page object model for Comments feature

[2016-12-09 09:32] naina-verma opened #480 "Automate tests for comments feature"
Automate tests for comments feature

[2016-12-09 16:30] ldimaggi opened #482 "Blocked - Investigate drag-and-drop for UI tests"
This will be needed for tests to validate re-ordering the backlog through drag and drop of workitems in the UI.

http://stackoverflow.com/questions/25664551/how-to-simulate-a-drag-and-drop-action-in-protractor

elem = Element you want to move;
target = Element where you want to drop elem;

For WebdriverJS:-
browser.driver.actions().dragAndDrop(elem,target).perform();

For Protractor:-
browser.acti

[2016-12-09 19:36] ldimaggi commented on #201
This is easier to setup/use:

xvfb-run ./run_functional_tests.sh

[2016-12-09 19:40] #442 closed

[2016-12-09 20:11] ldimaggi commented on #201
And - when the tests run headless - we should add a screenshot recorder to capture screenshots of failed tests:  https://www.npmjs.com/package/protractor-jasmine2-screenshot-reporter

Sample configuration:

[code]

[2016-12-09 20:24] joshuawilson opened #483 "Remove the old Home tab image of the Dashboard"
Now that we have a real Dashboard we can remove the fake one.

[2016-12-10 01:35] #483 closed

[2016-12-10 03:45] #376 closed

[2016-12-10 05:15] #386 closed

[2016-12-10 05:48] joshuawilson commented on #393
The menu / navigation system is being rewritten in the new fabric ui. You can still create the drop down and it will get converted to the new system.

[2016-12-10 05:57] joshuawilson commented on #433
@kwk I think that the only way to truly protect the system is on the backend. We only improve the user experience by preventing the user from making mistakes in the UI. You can't actually protect anything in the UI.

[2016-12-10 06:00] joshuawilson commented on #450
@sanbornsen is this done?

[2016-12-10 06:01] #456 closed

[2016-12-10 06:03] sanbornsen commented on #450
Yes, we can close this.

[2016-12-10 06:03] #457 closed

[2016-12-10 06:03] #450 closed

[2016-12-10 06:04] joshuawilson commented on #458
@ldimaggi it might be. But that is up to UX.

[2016-12-10 18:17] sanbornsen opened #487 "Lazy loading for work item details page"
We have enough data to load the details page for an existing work iten in the list, so instead of waiting for the details API call we can load the available data and then lazy load rest of it.

- [x] Implement the new comment relation for work item.
- [x] Lazy load the data after painting the page.

[2016-12-10 20:34] joshuawilson commented on #377
This was completed in PR #481 and #486

[2016-12-10 20:34] #377 closed

[2016-12-11 03:43] sanbornsen commented on #443
This issue is resolved in PR - https://github.com/almighty/almighty-ui/pull/454
Hence closing it.

[2016-12-11 03:43] #443 closed

[2016-12-11 03:45] #267 closed

[2016-12-11 03:46] sanbornsen commented on #385
This issue is resolved in PR - https://github.com/almighty/almighty-ui/pull/485

[2016-12-11 03:46] #385 closed

[2016-12-11 03:46] sanbornsen commented on #384
This issue is resolved on PR - https://github.com/almighty/almighty-ui/pull/485

[2016-12-11 03:46] #384 closed

[2016-12-11 15:00] sanbornsen opened #489 "Use new relational API for work item linking"
Currently we are using an end pont to fetch all the work item linking and then filtering it in front end.
We need to update this to the new relational API for work item.
http://demo.api.almighty.io/api/workitems/{id}/relationships/links

[2016-12-11 15:39] aslakknutsen commented on #489
UI should follow link provided in workitem/x {data.relationships.links.links.self}

(Yes, double links. It's the links for the links. @kwk maybe rename to workitemlinks?)

[2016-12-11 15:43] sanbornsen commented on #489
@aslakknutsen we don't have that yet, do we?

[2016-12-12 03:19] ldimaggi opened #492 "Create new automated UI test for workitem filtering"
See:

https://github.com/almighty/almighty-ui/pull/485

[2016-12-12 05:45] naina-verma opened #494 "Workitem list view onhover assignee icon, assignee name not showup"
Workitem list view on hover assignee icon, assignee name not showup
![screenshot from 2016-12-12 11-13-36](https://cloud.githubusercontent.com/assets/19172870/21089238/4b9ce6a4-c05c-11e6-9ea9-de1d2c88c2df.png)

[2016-12-12 06:20] naina-verma opened #495 "Kebob dropdown inappropriate position on UI"
Kebob dropdown inappropriate posiotion on UI
- While clicking on WI from bottom , the kebob menu should be shown up on top side ,instead of showing down side(screenshot attached)
![screenshot from 2016-12-12 11-41-39](https://cloud.githubusercontent.com/assets/19172870/21089784/f1e15c12-c060-11e6-8d6f-90044be11404.png)

[2016-12-12 06:25] naina-verma opened #496 "UI Header is not responsive in mobile view"
UI Header is not responsive in mobile view
The header items are not aligned as per mobile responsive view. screenshot attached
![screenshot from 2016-12-12 11-51-43](https://cloud.githubusercontent.com/assets/19172870/21089869/a5b34354-c061-11e6-8db8-635d5ebb6e7a.png)

[2016-12-12 06:36] sanbornsen opened #497 "Add comments resolver for wowrk item service"

[2016-12-12 06:42] naina-verma opened #498 "Unable to delete wokitems"
Unbale to delete wokitems , on http://demo.almighty.io/work-item-list
Steps to reproduce
- Try to delete new or already existing work item
- Expected : WI should deleted , Actual : Gives 404
API reference should point to workitems instead of workitems.2
`Request URL:http://demo.api.almighty.io/api/workitems.2/210
Request Method:OPTIONS
Status Code:404 Not Found
Remote Address:8.43.84.247:80
Respon

[2016-12-12 06:50] baijum commented on #498
The API end point should be `workitems` not `workitems.2`

[2016-12-12 06:50] sanbornsen commented on #498
Thanks @naina-verma for reporting this.

[2016-12-12 14:07] #498 closed

[2016-12-13 01:16] baijum opened #502 "Update authenticated user API to use JSON API"
The `/api/user` (GET) API end point should return JSON API.

There is an issue in the Core https://github.com/almighty/almighty-core/issues/576
with a PR: https://github.com/almighty/almighty-core/pull/578

The merge should be co-ordinated with Core & UI.

[2016-12-13 07:04] SMahil commented on #496
@Mgranfie Can you confirm the UX for mobile header

[2016-12-13 07:06] #466 closed

[2016-12-13 08:35] #497 closed

[2016-12-13 08:57] #350 closed

[2016-12-13 10:32] kwk commented on #433
@joshuawilson I'm working on this already in the backend.

[2016-12-13 11:44] naina-verma opened #507 "Inappropriate representation of time "Created at""
Inappropriate representation of time "Created at"
![screenshot from 2016-12-13 16-51-45](https://cloud.githubusercontent.com/assets/19172870/21139106/5c8ef82a-c157-11e6-990b-aa03c834e75a.png)
![screenshot from 2016-12-13 16-51-58](https://cloud.githubusercontent.com/assets/19172870/21139107/5c960020-c157-11e6-9757-85fb2e29447b.png)

[2016-12-13 11:50] naina-verma commented on #507
Ref #https://github.com/almighty/almighty-core/issues/579

[2016-12-13 12:09] aslakknutsen commented on #507
The first one is due to missing data in the backend. At some point our dates got screwed and they all came out as 01.01.0001. What's wrong with the second one?

[2016-12-13 21:05] ldimaggi opened #510 "Remove tests that depend on retrieval of all workitems"
Some of the first tests written depend on the in-memory count of 14 work items - these tests should be removed and should eventually be replaced with query tests for numbers of work items that match queries.

[2016-12-14 04:38] SMahil opened #512 "Bug: Work Item Linking Navigation Menu Breaks in Mobile View"
In Work Item Linking, Navigation on detail page is breaking in mobile view because of long texts.

<img width="322" alt="screen shot 2016-12-14 at 10 07 16 am" src="https://cloud.githubusercontent.com/assets/10396359/21169780/513d7dd2-c1e5-11e6-8ae9-24b6baa55c21.png">

[2016-12-14 04:44] SMahil opened #513 "Bug: UI breaks at Work Item Comments(Mobile View)"
Ui for User name is breaking for Work Item Comments(Mobile View).

<img width="285" alt="screen shot 2016-12-14 at 10 12 39 am" src="https://cloud.githubusercontent.com/assets/10396359/21169871/2747e994-c1e6-11e6-8ab4-fdc24e80d310.png">

[2016-12-14 04:50] SMahil opened #514 "UI Breaks for Assignee Name and Create at TimeStamp"
UI Breaks for Assignee Name and Create at TimeStamp in mobile View

<img width="264" alt="screen shot 2016-12-14 at 10 19 22 am" src="https://cloud.githubusercontent.com/assets/10396359/21169969/fc2510d8-c1e6-11e6-8cdb-39ff6dc45ff3.png">

[2016-12-14 09:12] SMahil commented on #512
@vikram-raj @joshuawilson @sanbornsen @nimishamukherjee Can you please verify the navigation heading if we are having this much big texts only

[2016-12-14 17:04] ldimaggi opened #520 "All UI functional tests are failing on chrome and firefox"
This seems to be related to other UI changes. The issue is that newly created work items cannot be identified in the browser unless the width of the browser is set to a minimum of 390 for chrome and 400 for firefox. We had previously been able to successfully set the screen width to 375:
[code]

PhantomJS is not affected.

[2016-12-14 17:11] ldimaggi commented on #520
See:  https://github.com/almighty/almighty-ui/pull/521

[2016-12-14 17:13] ldimaggi commented on #520
The error messages that are displayed take this form:
`
Failed: unknown error: Element is not clickable at point (195, 216). Other element would receive the click: <div _ngcontent-tdq-2="" class="navbar-collapse navbar-collapse-1 nav-mob-scroll">...</div>
`

Protractor simply cannot find the expected element if the screen width is too small.  :-(

[2016-12-14 20:38] #514 closed

[2016-12-14 21:24] Mgranfie commented on #512
There were only originally 3 sections here. Was customization a requirement
and do we need to revisit this design to provide an overflow use case
solution?

Thanks,
Monica

On Wed, Dec 14, 2016 at 4:12 AM, Sukhvir Kaur <notifications@github.com>
wrote:

[2016-12-15 00:04] ldimaggi opened #522 "Multiple UI functional tests are failing on Chrome and Firefox - followup to https://github.com/almighty/almighty-ui/issues/520"
After the changes listed in task https://github.com/almighty/almighty-ui/issues/520 are complete, multiple tests are still failing on Chrome and Firefox. We should always have all the tests running cleanly on PhantomJS, Chrome, and Firefox.

[2016-12-15 00:08] ldimaggi commented on #522
See:  https://github.com/almighty/almighty-ui/pull/523

[2016-12-15 04:09] #502 closed

[2016-12-15 06:55] naina-verma opened #524 ""created at:" looks distorted on Detail view page"
"created at:" looks distorted on Detail view page
![screenshot from 2016-12-15 12-24-12](https://cloud.githubusercontent.com/assets/19172870/21214573/87eb0c78-c2c1-11e6-889f-b166db9a75d8.png)

[2016-12-15 10:21] naina-verma opened #525 "No height,width wrapper defined for avatar in list view"
No height,width wrapper defined for avatar in list view.
There should be container having defined height and width of avatar in wi list view.
![screenshot from 2016-12-15 15-48-37](https://cloud.githubusercontent.com/assets/19172870/21220331/62a1205c-c2de-11e6-97ca-6e261fd1583d.png)
![screenshot from 2016-12-15 15-51-24](https://cloud.githubusercontent.com/assets/19172870/21220332/62a6043c-c2de-11

[2016-12-15 12:36] naina-verma opened #526 "Empty drop down of Filter shows up, for unauthorized user"
Empty drop down for Filter shows up for unauthorized user
![screenshot from 2016-12-15 18-04-17](https://cloud.githubusercontent.com/assets/19172870/21224234/24f3fc58-c2f1-11e6-8702-808ffc5628a4.png)

[2016-12-15 13:16] ldimaggi commented on #520
Pull request was approved and merged - this issue can be closed.

[2016-12-15 13:16] #520 closed

[2016-12-15 15:08] Mgranfie commented on #352
@nimishamukherjee noticed that the InVision link was not on this story. Let me know if this solution is something you have not seen yet... thanks.

https://redhat.invisionapp.com/share/Y39KFTAE7

[2016-12-15 15:36] bdellasc commented on #525
@naina-verma @Mgranfie In the [visual specs](https://redhat.invisionapp.com/share/NU8YPHLJP), screen #3: The avatar in the list is spec'd as 28px x 28px. The color and thickness of the bounding box is also spec'd there. Let me know if you have any other questions. Thanks!

[2016-12-15 17:30] bdellasc commented on #524
Included the placement of the "Created" info in the work item details pane as part of the icons work. I ran the placement by @Mgranfie and @Essjaysee. You can see the [mockup and spec here](https://redhat.invisionapp.com/share/2F9N0A7WN).

As far as the rules, exact wording and behavior of the "Created" data, we're working on that as part of a story this UX sprint (124c). We'll report out decision

[2016-12-15 17:47] bdellasc commented on #351
Included the placement of the "Creator" info in the work item details pane as part of the icons work. I ran the placement by @Mgranfie and @Essjaysee. You can see the [mockup and spec here](https://redhat.invisionapp.com/share/2F9N0A7WN). Thanks!

[2016-12-15 19:12] ldimaggi opened #527 ""Assign to me" filter is present, but does not seem to do anything"
At: http://demo.almighty.io, the "Assign to me" filter allows the user to select it, but it does not actually perform the filtering.

See screencast here:
https://dl.dropboxusercontent.com/u/12067552/Screencasts/ALMighty_filter.webm

[2016-12-15 19:41] kbsingh opened #528 "Carry the gpg keys locally"
Hi,

In https://github.com/almighty/almighty-ui/blob/master/Dockerfile.builder#L6 - what is the driving requirement to not carry the keys locally ? as we saw earlier today, an external service downtime meant that the ci pipeline and the deployment pipeline were both broken.

[2016-12-15 20:45] aslakknutsen commented on #527
The backend had not deployed it yet 😀

[2016-12-16 00:33] aslakknutsen commented on #528
I don't think there is one. Probably just copy/paste from somewhere.. @kwk ?

[2016-12-16 06:27] naina-verma commented on #525
@bdellasc , That looks like a UI bug, height and width is not implemented as the way it shows up in visual specs.

[2016-12-16 12:33] Mgranfie commented on #524
:) thanks B!

On Thu, Dec 15, 2016 at 12:30 PM, Brian Dellascio <notifications@github.com>
wrote:

[2016-12-16 14:41] kwk commented on #528
We can put the keys in the repo for sure. There was not requirement on pulling them in remotely. If that helps stabilise the pipeline, then go for it.

[2016-12-19 06:06] naina-verma opened #530 ""null" shows up while updating description workitem : "Firefox""
"null" shows up while updating description workitem : "Firefox"
screenshot attached
![screenshot from 2016-12-19 11-30-18](https://cloud.githubusercontent.com/assets/19172870/21302743/62d0bcd2-c5df-11e6-843a-eb1f1af65e2c.png)
![screenshot from 2016-12-19 11-30-29](https://cloud.githubusercontent.com/assets/19172870/21302744/62d1773a-c5df-11e6-8edc-0a92788719b0.png)

[2016-12-19 08:46] aslakknutsen opened #532 ""Open link in new window" does not work"
Click on a 'link' in the UI while holding 'ctrl' on the keyboard.

## Expected

The browser opens the link in a new window.

## Actual

The browser opens the link in the same window

[2016-12-19 09:02] nimishamukherjee commented on #351
PR #401 merged. Closing this task.

[2016-12-19 09:02] #351 closed

[2016-12-19 09:04] nimishamukherjee commented on #390
We don't need this task as we can use the existing work item details module.

[2016-12-19 09:04] #390 closed

[2016-12-19 09:05] nimishamukherjee commented on #389
We don't need this task as we can use the existing work item details module.

[2016-12-19 09:05] #389 closed

[2016-12-19 09:07] nimishamukherjee commented on #290
PR #529 merged. Closing this task.

[2016-12-19 09:07] #290 closed

[2016-12-19 09:10] nimishamukherjee commented on #330
@naina-verma can you check this - there is an icon associated with planner. This is a new work item type.

[2016-12-19 09:14] aslakknutsen commented on #330
@nimishamukherjee There is no need to add icons to 'planneritem'. It should never be returned from the server in this context.

[2016-12-19 09:21] aslakknutsen opened #533 "Linked workitems appear in filtered WorkItemList"
Go to demo.almighty.io, select 'Filter method'->'Assigned to me'. Open up the details of one of the WorkItems in the WorkItemList. Open the Links section. Navigate to one of the Linked WorkItems.

## Expected

To see the details of the Linked WorkItem

## Actual

User is taken to the details of the Linked WorkItem as well as the Linked WorkItem is being added the to the WorkItemList regardless of

[2016-12-19 09:22] nimishamukherjee commented on #527
@ldimaggi this is working now. Can you please verify this?

[2016-12-19 09:23] #407 closed

[2016-12-19 09:25] #381 closed

[2016-12-19 10:10] naina-verma commented on #330
@nimishamukherjee , Working fine now !

[2016-12-19 10:10] #330 closed

[2016-12-19 11:41] SMahil commented on #524
@bdellasc Are we following the same mockup design for mobile view

[2016-12-19 13:27] ldimaggi opened #536 "Create a new automated UI test to verify that a user cannot change the type of a workitem"
The UI should block the user from changing a work item's type.

[2016-12-19 13:28] naina-verma commented on #536
@ldimaggi , is this task referring to authorized user ?

[2016-12-19 13:29] ldimaggi commented on #536
All users.   ;-)

[2016-12-19 13:45] nimishamukherjee commented on #507
@naina-verma we need to receive the final UX around display of work item creation.
For now, we have created a Git Hub like experience. If you hover over the text, you get to see that date.
As Aslak mentioned we get "2016 years ago" for some of the work items.

[2016-12-19 14:35] ldimaggi opened #537 "Users are unable to insert a newline/blank line in workitem comment or description fields"
Pressing [RETURN] is always interpreted as the user saving his/her work - it is not possible for the user to enter a new line or blank line in the comments or the work item description fields.

[2016-12-19 14:44] aslakknutsen commented on #537
Shift+return

But I agree, return should be new line in multi line input fields, but
shift+return in single line

On Mon, Dec 19, 2016, 15:35 Len DiMaggio <notifications@github.com> wrote: